---
layout: incubator_participant
name: 'co-emerge'
title: Co-emerge
banner: 'image'
logoPath: 'co-emerge/logo.png'
company: Co-emerge
founder: Alessandro Mazzi
focus-area: Business coaching
country: Netherlands
website: https://www.co-emerge.com/
shortPresentation: {
youtubeVideoUrlHash: '4K8SGSWUscM'
}
socialMedia: [
{
platform: 'linkedin',
url: 'https://www.linkedin.com/in/alessandro-mazzi-7a445970/'
}
]
---
<p>
    Alessandro Mazzi is a generalist who takes on different roles in the fields of bottom-up innovation, emerging
    technologies for regeneration and sustainability, and decentralization. He holds a Master's Degree in International
    Law, while working in the tech startup and blockchain fields helping entrepreneurs with strategy and legal
    consulting. This experience presented him with the limitations of the capitalist system and rivalrous mindset to
    drive innovation to serve both human and environmental interests. Motivated to change the norms of this losing game,
    in late 2020, he started Co-emerge through which he is dedicated to helping bottom-up groups to transform shared
    intuitions about a better future into the technical and cultural innovation necessary to transcend the current
    self-terminating system.
</p>

<p>
    Co-emerge is currently structured as a one-man consultancy run by Mazzi. He offers innovators services in the fields
    of group coherence, collaboration strategy and project governance. The individuals and groups he works with dare to
    transform themselves to develop the necessary capabilities needed to transcend the current system and advance with
    higher values and potential. Although currently at its very early stage and focused on providing "ad hoc" services,
    Alessandro's long-term intention with Co-emerge is to stimulate the formation of a network of diverse innovators,
    who have the heart, courage, and capacities necessary to build the pillars of a thriving world.
</p>

