---
layout: incubator_participant
title: Cooperativa de Energie
banner: 'image'
logoPath: 'cooperativa_de_energie/logo.png'
company: Cooperativa de Energie
founder: Victor Lancu, Gijsbert Huijink, Dinu Drog, Nicu Plai, Andrei Ilaș, Adrian Munteanu
focus-area: Sustainable Energy
country: România
shortPresentation: {
youtubeVideoUrlHash: 'smai0U3M2OA'
}
website: https://www.cooperativadeenergie.ro
socialMedia: [
{
    platform: 'facebook',
    url: 'https://www.facebook.com/cooperativadeenergie',
},
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/cooperativa-de-energie/'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/cooperativadeenergie/'
}
]
---
<p>
    The founding members consist of a group of entrepreneurs, specialists and analysts who, together have created Cooperativa de Energie, the first supplier and producer of green energy, using the cooperative framework, in Romania.
</p>
<p>
    What makes the Cooperative special is that everyone can become a member, with decision-making power, and are able to invest in future renewable energy production and supply. The purpose of the Cooperative is to help regular consumers become active participants in the energy market, with a right to vote and have a say inside the Cooperative.
</p>
