---
layout: incubator_participant
name: 'crazy-initiatives'
title: Crazy initiatives
banner: 'image'
logoPath: 'crazy-initiatives/logo.png'
company: Crazy initiatives
founder: Marnix van de Poll
focus-area: Creative performance
country:
shortPresentation: {
youtubeVideoUrlHash: 'PcVPhYmsuyM',
feedbackUrl: 'https://tinyurl.com/feedback-pge-crazy-initiatives'
}
website: https://www.crazyinitiatives.nl/?fbclid=IwAR0yAGy2ZgLNUzMsgeoQ90IA1R4i9-5TlRKeHaoImk4befoamF2-rSGWVB8
website-label: 'www.crazyinitiatives.nl'
socialMedia: [
{
platform: 'facebook',
url: 'https://www.facebook.com/crazyinitiatives/?ref=page_internal'
},
{
platform: 'youtube',
url: 'https://www.youtube.com/channel/UCcpRQYn2RddwVyLDE5bC6pg'
}
]
---

<strong>Crazy Initiatives</strong>
<p>
    Art can break through, connect and contribute to engagement with a world that is becoming more individualistic. The
    gap between people is widening, leading to confusion, aggression and loneliness. Crazy Initiatives reflects on these
    social developments and looks for new, surprising connections and combinations. This creates innovative,
    artistic projects, preferably with a multidisciplinary character.
    <br>
    <br>
    Artistic and enterprising. Personal and social. Confronting but above all connecting.
    <br>
    <br>
    We make projects that take place in a social context, such as at the Pianopontje and the Clingendael Concerts. The
    Clingendael Concerts, for example, are based on the theme of “Rest and Balance in your life” and took place in the
    Japanese Garden The Hague. And projects that arise from a personal, artistic development, where Marnix’ own Free
    Improvisations are becoming increasingly important, such as the Ten Holt Ten Days. These concerts took place in the
    intimate setting of the house of the late dutch composer Simeon ten Holt.

</p>

<strong>Marnix van de Poll</strong>
<p>
    Classical pianist Marnix van de Poll starts his performance practice in 2009 with a self-organised and sold-out
    debut in the Bethaniënklooster Amsterdam. Through performances at the Oerol Festival, the Parade,
    Festival Back to the Beginning, the Bimhuis, Karavaan Festival, his work
    now has mainly concentrated on his own projects with Crazy Initiatives.
    This provides good visibility in the media, including NPO1, Radio 4,
    Trouw, Parool, Telegraaf.
    <br>
    <br>
    Marnix sees his artistic and personal development as the source of his
    oeuvre. The own inner world transforms into universal project themes
    that visitors can relate to.
</p>

<ul>
    <li><a target="_blank" href="https://youtu.be/kHHjOaKOu84">Clingendael Concerten in the Japanese Garden The Hague</a></li>
    <li><a target="_blank" href="https://youtu.be/UnfTLWjD9xg">Pianopontje, concerts on the ferry over the IJ in Amsterdam Monday Morning 07:00</a></li>
    <li><a target="_blank" href="https://youtu.be/N9RlH9F0PQg">Performance Vrije Geluiden National TV</a></li>
    <li><a target="_blank" href="https://youtu.be/-jH_LOh9dK0">Free Improvisation in Simeon’s house</a></li>
</ul>
