---
layout: incubator_participant
name: 'dawn-child'
title: Dawn Child
banner: 'image'
logoPath: 'dawn-child/logo.png'
company: Dawn Child
co-founder: Sayantan Chowdhury
focus-area: Early childhood Care & Education
country: India
shortPresentation: {
youtubeVideoUrlHash: 'NSX7VdhoAvY',
feedbackUrl: 'https://docs.google.com/forms/d/e/1FAIpQLSfqGaQMiW9kA3wkS_3gErqQgFH7X7Z9fVS1PTXqPJYWgcWlNA/viewform'
}
website:
socialMedia: [
{
platform: 'youtube',
url: 'https://www.youtube.com/channel/UCXeTnRM1qeeYGc1YQvY2Bzw',
},
{
platform: 'facebook',
url: 'https://www.facebook.com/dawnchildnow',
},
{
platform: 'instagram',
url: 'https://www.instagram.com/dawnchildnow/',
},
{
platform: 'twitter',
url: 'https://twitter.com/dawnchildnow',
},
{
platform: 'linkedin',
url: 'https://www.linkedin.com/company/dawn-child',
},
]
---
<p>
    Sayantan is an economist by training and an educator by profession. He became interested in alternative education
    systems after overcoming the experience of student life that left him feeling he would always remain a failure.
    After almost failing college to graduating first in his class (with the help of a great teacher), Sayantan was
    inspired when he came to realize that millions of children are suffering the same plight at the hands of a flawed
    education system every day.
</p>
<p>
    Dawn Child believes every infant, regardless of their family backgrounds, deserves a happy and foundational start
    with quality early childhood care and education. Working with marginalized communities to ensure infants have a
    safe, loving, and stimulative environment, regardless of where they are born, Dawn Child coaches parents on how to
    be more accepting, and siblings to be more kind, so that they can become ideal caregivers, not just to their little
    ones, but to the entire community.
</p>

