---
layout: incubator_participant
name: 'in-our-nature'
title: In Our Nature
banner: 'image'
logoPath: 'in-our-nature/logo.png'
company: In Our Nature
founder: Max Leighton, Patrick Hoelscher, Rachel Taylor-Neustadt
focus-area: Film and production
country:
shortPresentation: {
youtubeVideoUrlHash: 'R_P7GjCo704'
}
website: https://www.inournature.net
socialMedia: [
{
platform: 'facebook',
url: 'https://www.facebook.com/InOurNatureFilms/',
},
{
platform: 'twitter',
url: 'https://twitter.com/in_our_nature/'
},
{
platform: 'linkedin',
url: 'https://www.linkedin.com/company/inournaturefilms/'
},
{
platform: 'instagram',
url: 'https://www.instagram.com/inournaturefilms/'
},
{
platform: 'youtube',
url: 'https://www.youtube.com/channel/UChiB-ayz9eiVf2cxWrQeeEw'
}
]
---
<p>
    In Our Nature is a sustainable production company, working alongside the ‘small footprint, big impact’ ethos. They
    are a team of scientists and creatives providing sustainable film and photography services to a global client base,
    while also producing original documentaries on climate change.
</p>

<p>
    <strong class="mb-2">Max Leighton (Social Scientist)</strong>
<div>
    Max is a social scientist with experience researching for
    universities, think-tanks, charities and broadcasters. Funded
    by the European Research Council, Max was seconded to the
    University of Cape Town to research how narratives can be used
    to construct water policy across southern Africa. His academic
    focus has converged on exploring how the narratives we live by
    influence our relationship with nature and how these stories
    are ripe for renewal.
</div>
</p>

<p>
    <strong class="mb-2">Patrick Hoelscher (Filmmaker)</strong>
<div>
    Patrick is an award-winning filmmaker who has worked with
    broadcasters, businesses, charities and NGOs including Al
    Jazeera, The Guardian and United Nations. Patrick has worked
    all over the world with local crews in India, Vietnam, South
    Africa, Ghana and more. He has filmed leading economists,
    academics, politicians and policymakers and has made it his
    mission to spread knowledge and inspire action in tackling the
    climate crisis.
</div>
</p>

<p>
    <strong class="mb-2">Rachel Taylor-Neustadt (Producer)</strong>
<div>
    As a producer Rachel's expertise is in working with brands and
    businesses to create tailored digital campaigns. She has
    produced content for a broad range of organisations from
    independent start-ups to household names such as M&S, Lloyds
    Bank, Random House Publishing, and Government departments
    including the Home Office, the NHS and the Department of
    Culture and Media.
</div>
</p>

<a target="_blank" href="https://vimeo.com/470953495">In Our Nature - Showreel</a>
