---
layout: incubator_participant
name: 'meaningful-work'
title: Meaningful Work
banner: 'image'
logoPath: 'meaningful-work/logo.png'
company: Meaningful Work
founder: Erik Roebroek
focus-area: Human Relations
country:
shortPresentation: {
youtubeVideoUrlHash: 'aId77rUPibk'
}
website: https://www.meaningfulwork.eu
socialMedia: [
{
    platform: 'facebook',
    url: 'https://www.facebook.com/MeaningfulWorkCommunity',
},
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/meaningful-work/'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/meaningful.work/'
}
]
---
<p>
    After graduating his Masters in Mechanical Engineering, with a promising career ahead, Roebroek had doubts about the industry. Then doubts about all of his alternative career options too. None felt exactly right to him. He soon realized that the idea of work should be to contribute something of value, not exclusively to make money.
</p>
<p>
    Meaningful Work aims to change the way we think about work. In a world where we need to rise to global challenges, employees are massively disengaged and increasingly suffer from mental health problems. Meaningful Work wants to change that. Through inspiration sessions and workshops for students and professionals, they provide workplaces with a radical new perspective on how to work more effectively and with meaning.
</p>

<ul class="list-style-none">
    <li><a target="_blank" href="https://www.youtube.com/watch?v=VBKAEswBDGw&feature=youtu.be">Erik Roebroek - Meaningful Work</a></li>
    <li><a target="_blank" href="https://open.spotify.com/episode/7npyiHaVhicng0awa23wAG">Podcast: Finding meaning in your work and life with Erik Roebroek</a></li>
</ul>
