---
layout: incubator_participant
name: 'media-message'
title: MediaMessage
banner: 'image'
logoPath: 'media-message/logo.png'
company: MediaMessage
founder: Fadoa Schurer
focus-area: Technology
country:
shortPresentation: {
youtubeVideoUrlHash: 'JM7TB-veDI8',
feedbackUrl: 'https://docs.google.com/forms/u/0/d/1criEZqb63obAIciG8bj8AWNYHpukQwXQWBFdlzBIms0/viewform?edit_requested=true'
}
website: 'http://www.mediamessage.nl/'
socialMedia: [
{
platform: 'twitter',
url: 'https://twitter.com/MediaMessage2',
},
{
platform: 'linkedin',
url: 'https://www.linkedin.com/company/mediamessagenl/',
},
{
platform: 'instagram',
url: 'https://www.instagram.com/mediamessagenl/'
}
]
---

<p>
    Fadoa Schurer is an entrepreneur working primarily in accessible technology to make the interaction between people
    and systems easier and fairer.
</p>

<p>
    Fadoa’s current project, MediaMessage, is a tool that helps people detect subjectivity in news articles.
</p>
