---
layout: incubator_participant
name: 'moondance-brewing'
title: Moondance Brewing Company
banner: 'image'
logoPath: 'moondance-brewing/logo.jpeg'
company: Moondance Brewing Company
founder: Suzanne Klaassen
focus-area: Brewery
country: North Holland
shortPresentation: {
youtubeVideoUrlHash: 'EDsVa1V8-9M',
feedbackUrl: 'https://docs.google.com/forms/d/1O7T0bJiTKPxoq0RxDZvFQ76D8Pc-Gx4h1K_KH-O2Msk'
}
website: https://www.moondancebrewing.nl/
socialMedia: [
{
platform: 'instagram',
url: 'https://www.instagram.com/Moondancebrewingholland/',
},
]
---
<p>
    Moondance Brewing Company is a local craft beer, cider and kombucha brewer. Founded by Suzanne Klaassen, who serves as the lead brewster and recipe designer. Suzanne is assisted by her husband Rob Klaassen and often co-brews with other local brewers. She is a Cicerone Certified Beer Server and is studying for her Certified Cicerone designation. She is a graduate of Texas A&M University with a B.S. Chemical Engineering and has worked in Oil & Gas, Energy, and Industrial Processing for more than twenty years. As a fermented beverage designer and brewer, as well as a consultant to energy and industry, Suzanne leads a bit of a double life.  However, her fundamentals are the same and simple; to direct and steward the resources at her disposal in a manner that benefits and leads toward the highest good for all.
</p>

<a target="_blank" href="https://untappd.com/w/moondance-brewing-company/374915">Untapped</a>
