---
layout: incubator_participant
name: 'school-of-nature'
title: The School of Nature
banner: 'image'
logoPath: 'school-of-nature/logo.png'
company: The School of Nature
founder: Jorien Hendrikx, Bastiaan Veenman
focus-area: Regenerative Agriculture
country:
website:
socialMedia: [
{
platform: 'facebook',
url: 'http://www.facebook.com/theschoolofnature',
},
{
platform: 'instagram',
url: 'http://www.instagram.com/theschoolofnature'
}
]
---

<p>
    We believe our relation to nature lies at the core of the transition to a healthy world. Therefore, we envision and
    embody a nature-connected life.
</p>

<p>
    The School of Nature is a regenerative farm and school located in the north-east of Spain. We facilitate connecting
    with, learning from and living together with nature. We have an holistic approach, meaning we include both inner and
    outer nature, as well as both wild and cultivated nature. The farm is focussed on soil enrichment by means of a
    holistic system of trees, plants and animals, who meanwhile offer food. The school offers experiences of a
    nature-connected living that are focussed on creating meaningful interactions with nature in both practical and
    spiritual ways.
</p>

<p>
    We are Bastiaan and Jorien. We found each other in both love and vision of life. We started the School of Nature in
    2017 from our apartment in Amsterdam. We’ve now settled in our own natural paradise in Spain and are re-launching
    the School of Nature from here. We both studied in the economy/business/finance sector. Jorien soon found her way
    working alongside social entrepreneurs and meanwhile unfolded her intuition for working with our inner nature.
    Bastiaan found his passion for ecology through travels around the world and now holds extensive knowledge and
    experience in regenerative farming, wild foraging, permaculture and agroforestry/food-forests.
</p>
