---
layout: incubator_participant
name: 'sisterspeaks'
title: SISTERSPEAKS / HEELS4PADS FOUNDATION
banner: 'image'
logoPath: 'sisterspeaks/logo.jpg'
company: SISTERSPEAKS / HEELS4PADS FOUNDATION
founder: Monicah Muhoya, Angela Waweru, Angela Muiruri
focus-area: Social entrepreneurship
country: Kenya
shortPresentation: {
youtubeVideoUrlHash: '3S7p6uwtP70'
}
website: https://www.sisterspeaksglobal.org/
socialMedia: [
{
platform: 'facebook',
url: 'https://www.facebook.com/FoundedbySisterSpeaksGlobal/',
},
{
platform: 'instagram',
url: 'https://www.instagram.com/sisterspeaks254/'
},
{
platform: 'facebook',
url: 'https://www.facebook.com/Heels4Pads/',
},
{
platform: 'instagram',
url: 'https://www.instagram.com/heels4pads/'
},
]
---
<p>
    Monicah Muhoya, together with Angela Waweru and Angela Muiruri, founded Sisterspeaks in 2019. Their mission is to increase the networking capacities for women through female-centered events that promote and encourage female entrepreneurship and empowerment. SisterSpeaks means “Dada Ongea” in Swahili, and encourages women to develop their unique voice.
</p>
<p>
    Heels4Pads is a social responsibility initiative of Sisterspeaks. The initiative raises awareness on period poverty and menstrual inequality in Kenya. Heels4Pads employs a novel barter trade system for social good to bridge access to menstrual health, education, and products. It aims to dispel the stigma associated with the menstrual cycle and female entrepreneurship.
</p>

<a href="{{ '/assets/documents/sisterspeaks/sisterspeaks.pdf' | prepend: site.baseurl }}" target="_blank">PDF</a>
