---
layout: incubator_participant
name: 'sprylio'
title: Sprylio
banner: 'image'
logoPath: 'sprylio/logo.jpg'
company: Sprylio
founder: Richard Beauchamp
focus-area: Technology
country:
shortPresentation: {
youtubeVideoUrlHash: '3OxnCaH9ryw'
}
website: https://www.sprylio.com
socialMedia: [
{
platform: 'twitter',
url: 'https://twitter.com/sprylio?lang=en ',
},
]
---
<p>
    Richard has over 20 years of experience leading startup and enterprise technology teams. Focused on building software that's a force for good, Richard is currently the founder of Sprylio, a cooperative that enables purpose-driven founders to find a co-founder and build a startup team. Before Sprylio, Richard was employee #1 and led the engineering team at Medchat, a startup that helps healthcare teams quickly deploy custom chatbots that enhance communication and automate workflows.
</p>
<p>
    Sprylio’s mission is to build a million purpose-driven startups worldwide addressing our existential emergencies. Sprylio meets this challenge by curating relevant introductions, worldwide, at scale, on behalf of their members. In other words, Sprylio becomes their personal, AI-driven matchmaker.
</p>

<p>
    As a California Doughnut Economics Action Lab <a target="_blank" href="https://doughnuteconomics.org/">DEAL</a> member, Richard leads the Post-Growth
    Organizations working group, which aspires to bring the doughnut model
    to California businesses. They volunteer with <a target="_blank" href="https://www.instagram.com/p/B7_uSziFYL_">Glean SLO</a>, collecting leftover fruits
    and vegetables that would otherwise go to waste and distributing them to
    people in the local community who are food insecure. As a climate
    activist, they obtained <a target="_blank" href="https://carbonfreeslo.org/tech-guys-are-tree-huggers-too">30K</a> in grant funding in 2019 from
    California to build urban and community forests that sequester carbon.
</p>
