---
layout: incubator_participant
name: 'tini-studio'
title: tini.studio
banner: 'image'
logoPath: 'tini-studio/logo.png'
company: tini.studio
founder: Chiara Treglia, Dick Rennings
focus-area: Design and technology
country: Netherlands
shortPresentation: {
youtubeVideoUrlHash: 'IkjTfhRhaX8'
}
website: https://tini.studio/
socialMedia: [
{
platform: 'youtube',
url: 'https://www.youtube.com/channel/UCKb8CbdjxHe6zfHfSLAeKQg',
},
{
platform: 'linkedin',
url: 'https://www.linkedin.com/company/tinistudio'
},
{
platform: 'instagram',
url: 'https://www.instagram.com/tini.work/'
}
]
---
<p>
    tini studio is a life-centric design agency. A family of T-shaped creatives on a quest to make our future sustainable and just. tini studio uses the tools of design and innovation to help clients answer the question: "What will be our legacy?". By addressing this question, tini studio challenges their clients to rethink their business, their product and services, and to think strategically and sustainably about the future.
</p>

<p>
    Chiara Treglia is a Strategy and Service designer at tini studio, with a background in Global Innovation Design (MA/MSc) and Industrial Design (BSc). She loves facilitating workshops and design sprints that get participants to re-think critically about their challenges and co-create system-level change solutions. She is also a lecturer at the University of Technology Eindhoven.
</p>

<p>
    Dick Rennings is Lead Technologist at tini studio. With a background in both Communication and IT, and years of experience running businesses, he is very versatile. He loves staying up to date with the latest and greatest in technology and to implement these innovations to make lives (and business) easier.
</p>
