---
permalink: /404.html
layout: default
---

{% include components/diagonal-section.html
position='left-bottom'
%}
<div class="container-fluid bg-light-blue">
  <div class="row">
    <div class="d-flex flex-column align-items-center w100">
      <h1>404</h1>

      <p><strong>Page not found :(</strong></p>
      <p>The requested page could not be found.</p>
    </div>
  </div>
</div>

{% include components/diagonal-section.html
position='right-top'
%}
