---
layout: incubator_participant
name: cloud_pirates
title: Cloud Pirates
banner: 'image'
logoPath: 'cloud_pirates/logo.png'
company: Cloud Pirates
founder: Alessandro Vozza
focus-area: Co-working space, Community, Hackerspace
country:
website:
socialMedia: [
{
    platform: 'twitter',
    url: 'https://twitter.com/cloudpiratesnl',
},
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/cloud-pirates'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/cloudpirates_official/'
}
]
---

<strong class="mb-2">Cloud Pirates</strong>
<p>
    Cloud Pirates is a co-working/hackerspace geared towards cloud-native engineers and DevOps professionals, creating an open, permanent community space.
</p>

<strong class="mb-2">Alessandro Vozza</strong>
<p>
    Alessandro has been around open source for as long as he can remember, and he started cultivating the DevOps community in Amsterdam when it was not yet hyped. After many transitions, he pushed for the adoption of state-of-the-art DevOps practices and culture across different industries and communities. With Cloud Pirates, Alessandro aims to create community space geared towards cloud-native engineers and DevOps professionals.
</p>
