---
layout: incubator_participant
name: evrgreen_studio
title: eVRgreen Studio
banner: 'image'
logoPath: 'evrgreen_studio/logo.png'
company: eVRgreen Studio
founder: Lindy Damen
focus-area: Education, Environmental & Conservation, Digital Learning
country:
website: http://www.evrgreenstudio.com
socialMedia: [
{
    platform: 'facebook',
    url: 'https://www.facebook.com/eVRgreen.Studio/',
},
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/evrgreenstudio'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/eVRgreen_studio/'
}
]
---

<strong class="mb-2">eVRgreen Studio</strong>
<p>
    eVRgreen Studio creates digital products to educate young learners about environmentalism and conservation. Through the use of extended reality (XR),  eVRgreen Studio adds to the digitalisation of the environmental education movement.
</p>

<strong class="mb-2">Lindy Damen</strong>
<p>
    Founder, Lindy Damen, combined her passion for nature and technology with her hard skills to start her business eVRgreen Studio. Lindy's goal is to leave the planet in a better state than she found it.
    With awareness of the detrimental impact of humans on the planet, Lindy aims to keep her footprint as small as possible and in balance and nature and the environment to avoid causing further harm while encouraging others to do the same.
</p>
