---
layout: incubator_participant
name: healthnetwork
title: Healthnetwork
banner: 'image'
logoPath: 'healthnetwork/logo.png'
company: Healthnetwork
founder: Joosje Heringa
focus-area: Healthcare, Integrative Medicine
country:
website:
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/healthnetwork-io/'
}
]
---

<strong class="mb-2">Healthnetwork</strong>
<p>
    Healthnetwork is a platform providing a decision support tool allowing users to choose the correct complementary medicine practitioners for patients. Both doctors and patients themselves can use the guidelines.<br /><br />
    <a href="https://www.youtube.com/watch?v=D8Qhmn147G8">https://www.youtube.com/watch?v=D8Qhmn147G8</a>
</p>

<strong class="mb-2">Joosje Heringa</strong>
<p>
    Founder Joosje Heringa has experienced the benefits of complementary medicine and knows the difficulty of finding your way within this fragmented industry. It is Joosjer's mission to help more patients find complementary medicine.
</p>
