---
layout: incubator_participant
name: 'hoatzin'
title: hoatzin
banner: 'image'
logoPath: 'hoatzin/logo.png'
company: hoatzin
founder: Anouar El Hajjami-Jarri
focus-area: Business Development, Sales, Strategy, DEI, ESG, Communications
country:
shortPresentation: {}
website: http://www.hoatzin.agency
socialMedia: [
{
platform: 'facebook',
url: 'https://www.malt.com/profile/aehj',
}
]
---
<strong>hoatzin</strong>
<p>
hoazin helps companies achieve their transition towards an ethical and ecologically responsible economy by transforming how sales organisations operate, engaging customers and collaborators to do business in a setup that makes sense while ensuring a future in a fair and ecologically stable world.
</p>

<strong>Anouar El Hajjami-Jarri</strong>
<p>
    Having graduated from CELSA-Sorbonne University (Paris), Anouar El Hajjami-Jarri has worked for companies of different sizes in 3 primary markets (France, US, Germany) as a Sales Manager and Sales Enablement Consultant.<br /><br />

    Similar to many young professionals, 2020 has been a transformative year for him and a clear sign that the “old ways” will no longer work. After 24 months of activism (Social and Environmental Justice) and a deep dive into scientific literature and heterodox economics, he has decided to develop his business through the emergence of a new economy by bringing Applied Post-Growth frameworks to the plan.

</p>
