---
layout: incubator_participant
name: inspireallies
title: Inspireallies
banner: 'image'
logoPath: 'inspireallies/logo.png'
company: Inspireallies
founder: Sandra Winterbach
focus-area: Community, Environment, Business Coaching, Training
country:
website: https://www.inspireallies.com/
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/in/sandra-winterbach-inspireallies/'
}
]
---

<strong class="mb-2">Inspireallies</strong>
<p>
    Isn’t it a funny coincidence that we are burning ourselves out, and as a result, we now live in a world on fire? Maybe it’s ironic, but it is no coincidence and definitely not funny. inspireallies creates workshops, products, and community to inspire you to re-light the fire in yourself, learn how to sustain it going forward – and save our world as a byproduct, one fire at a time.
</p>

<strong class="mb-2">Sandra Winterbach</strong>
<p>
    Sandra used to play the corporate game as an industrial engineer, digital change manager, and global e-commerce business partner. Until she found herself constantly exhausted, frustrated, and complaining. She decided there had to be more. Her mission is to do things right and inspire allies to walk this path with her. Some call her naive, she calls it: a future worth living.
</p>
