---
layout: incubator_participant
name: liisbeth_media
title: LiisBeth Media & HighWire Collective
banner: 'image'
logoPath: 'liisbeth_media/logo.png'
company: LiisBeth Media
company2: HighWire Collective
founder: Petra Kassun-Mutch
focus-area: Media, Entrepreneurship, Education, Training, Policy consulting
country:
website: www.liisbeth.com
website2: http://www.highwirecollective.ca
socialMedia: [
{
    platform: 'facebook',
    url: 'https://www.facebook.com/liisbethhq',
},
{
    platform: 'twitter',
    url: 'https://twitter.com/highwirebiz',
},
{
    platform: 'twitter',
    url: 'https://twitter.com/search?q=liisbethhq',
},
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/18263234/admin/'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/liisbethhq/'
},
{
    platform: 'facebook',
    url: 'https://www.alignable.com/toronto-on/liisbeth-media-2'
}
]
---

<strong class="mb-2">LiisBeth Media</strong>
<p>
    LiisBeth Media is a 6-year old Toronto, Canada based, micro, indie, intersectional feminist non-profit media enterprise funded by readers, small grants and sponsor donations. With over 30 000 readers and 2600 subscribers, Liisbeth wants to transform the economy, so they write about and support women, queer and trans norm busting enterprise founders, activists and thought leaders working to create sustainable, right livelihoods for themselves and others while at the same time kicking oppressive and extractive enterprise models and economic systems to the proverbial curb.
</p>

<strong class="mb-2">HighWire Collective</strong>
<p>
    The HighWire Collective (formerly Eve-Volution Inc.)  is an 8-year old for-profit consulting and creative collective focused on transforming entrepreneurship education, training and policy to align better with the emergence of a more fair, equitable, non-extractive, environmentally restorative post-capitalist economy.
</p>

<strong class="mb-2">Petra Kassun-Mutch</strong>
<p>
    Petra Kassun Mutch is an award-winning serial social entrepreneur with success in Canada's food (diary) and digital media sectors. She is the founder and former President of Fifth Town Artisan Cheese (2004-2012), founder of HighWire Collective and founder/publisher of LiisBeth Media. Her unconventional ways of designing, growing and navigating entrepreneurship has earned her notoriety in the eco-sustainability and women’s entrepreneurship space in particular and beyond. Petra Kassun Mutch is an active advocate for gender (women, trans, queer) anti-racism in entrepreneurship at the policy level and works to support, connect and convene marginalized non-extractive entrepreneurs via her media enterprise. Her enterprise, HighWire Collective, brings together other radical entrepreneurs and thought leaders in entrepreneurship education to help institutions and service providers reimagine and transform entrepreneurship education and training.
</p>
