---
layout: incubator_participant
name: 'njombe_innovation_academy'
title: Njombe Innovation Academy
banner: 'image'
logoPath: 'njombe_innovation_academy/logo.png'
company: Njombe Innovation Academy
founder: Unai Gaztelu, Ibrahim Gambaseni
focus-area: Community, Education, Youth Empowerment
country:
shortPresentation: {}
website: https://nia.or.tz/
socialMedia: [
{
platform: 'facebook',
url: 'https://www.facebook.com/njombeinnovation',
},
{
platform: 'twitter',
url: 'https://twitter.com/nia_org'
},
{
platform: 'instagram',
url: 'https://www.instagram.com/njombeinnovationacademy'
}
]
---
<strong>Njombe Innovation Academy</strong>
<p>
    Njombe Innovation Academy unleashes the potential of local youth to transform social challenges into social enterprises.
    Along with friend and co-Founder Unai Gaztelu, Ibrahim collaborated on Njombe Innovation Academy (NIA), a project that would utilise the SINA model, an existing framework for a cost-effective community approach to empowering marginalised youth to become self-reliant through social enterprises.

</p>

<strong>Ibrahim Gambaseni & Unai Gaztelu</strong>
<p>
    Founder Ibrahim Gambaseni grew up in Njombe, Tanzania, and he was one of the brightest students in his class. He excelled in primary school, but life interfered with him finishing high school, and finances impeded any higher education. Now, looking back, he recognises that lack of education does not diminish his value or stop him from achieving his goals.  “In the world right now, you can learn anything from anywhere—I want to reach out to those who are out of school and let them know that you are not a failure and can make it in life.”<br /><br />

    Ibrahim Gambaseni started Njombe Innovation Academy along with friend Unai Gaztelu intending to empower communities that organise themselves to keep human life going and regenerate the damage already done to our planet.
</p>
