---
layout: incubator_participant
name: pice_tech_foundation
title: PICE Tech Foundation
banner: 'image'
logoPath: 'pice_tech_foundation/logo.png'
company: PICE Tech Foundation
founder: Sagar Sodah
focus-area: Productivity tools, Visually impaired, Accessible technology
country:
website: https://www.picetech.org/
socialMedia: []
---

<strong class="mb-2">PICE Tech Foundation</strong>
<p>
    Founded in 2021, PICE Tech Foundation was created to harness technology by assisting the world in moving towards the Sustainable Development Goals––a set of global goals designed to create a more sustainable world for all.
</p>

<strong class="mb-2">Sagar Sodah</strong>
<p>
    Sagar Sodah is a visually impaired coder and engineering leader. He has studied software engineering from McMaster University, Canada, and works in the intersection of tech and social impact. Sagar is a compulsive first principles thinker and a proponent of universal design.
</p>
