---
layout: incubator_participant
name: ptah_commons
title: Ptah Commons
banner: 'image'
logoPath: 'ptah_commons/logo.png'
company: Ptah Commons
founder: Moataz Yakan
focus-area: Arts & Culture, Community, Collaboration
country:
website:
socialMedia: []
---

<strong class="mb-2">Ptah Commons</strong>
<p>
    Ptah Commons is a social enterprise that facilitates cross-cultural creative collaborations.
    Ptah Commons' mission is to facilitate co-learning with international communities in the art and culture sectors. Through brainstorming, planning and executing collective awareness and CSR projects integrating different art forms and cultures, more vital messages will be delivered as well as co-learning opportunities. These projects will facilitate new learning experiences, novel arts, spillover knowledge, help understand and collaborate with other cultures and create new artistic forms of expression.
</p>

<strong class="mb-2">Moataz Yakan</strong>
<p>
    Moataz Yakan is a PhD candidate in International Development and a banking veteran. Through Ptah Commons he dreams of contributing to the nascent global culture. He believes that without being grateful for “The Other” culture, harmonious life can not be pursued.
</p>
