---
layout: incubator_participant
name: rethink_impact_studio
title: reTHINK Impact Studio
banner: 'image'
logoPath: 'rethink_impact_studio/logo.png'
company: reTHINK Impact Studio
founder: Lionel Exposito
focus-area: Community Organisation, Start-up Support & Mentorship
country:
website: http://www.rethink-studio.com
socialMedia: [
{
    platform: 'linkedin',
    url: 'http://www.linkedin.com/company/55177864'
}
]
---

<strong class="mb-2">reTHINK Impact Studio | Content Connecting Communities</strong>
<p>
    reTHINK Impact Studio is an Amsterdam-based start-up which aims to shape the future of volunteering experience and engagement through gamification and celebration.
    Through high-impact tailored programs and consultancy services,  reTHINK Impact Studio aims to boost engagement with employees, talents, and customers to connect communities.
    Their start-up model is broken down into 3 main categories:
</p>
<ul>
    <li>reTHINK TALENTS: learning expeditions, startup mentoring</li>
    <li>reTHINK DIGITAL: e-commerce, growth hacking</li>
    <li>reTHINK LEADERSHIP: future of work, leadership in the new normal, diversity & inclusion, high-performance teams</li>
</ul>
<p>They trust us: Fairphone, Philips, Cartier, Reckitt, ESSEC Business School, Ecole des Mines, Dott, MischiefMakers.</p>

<strong class="mb-2">Lionel Exposito</strong>
<p>
    Lionel Exposito is an entrepreneur with multidisciplinary experience in consulting and corporate start-ups. Located in Amsterdam, Lionel thrives on social interaction and human connection. Lionel enjoys being involved in organising and moderating Tech Makers Amsterdam discussions, which he co-founded in 2019.
    In his spare time, he supports nonprofits and people in need, as well as being the father to a wonderful 9-year-old girl. His personal ethos and values are Dare, Serve and Connect.
</p>
