---
layout: incubator_participant
name: sustainable_fine_jewelry
title: Sustainable Fine Jewelry
banner: 'image'
logoPath: 'sustainable_fine_jewelry/logo.png'
company: Sustainable Fine Jewelry
founder: Ivana Tropea
focus-area: Italian Handmade Precious Jewelry
country:
website:
socialMedia: [
{
    platform: 'linkedin',
    url: 'http://www.linkedin.com/company/sustainable-fine-jewelry'
}
]
---

<strong class="mb-2">Sustainable Fine Jewelry</strong>
<p>
    Sustainable Fine Jewelry aims to create contemporary jewels with a social impact.
    Creations that are made in Italy contribute to the local development.
    With attention on women miners to reduce gender inequalities, SFJ is involved in creating fair-working conditions in South America and East Africa. With Sicilian heritage, SFJ creates equal opportunities for Silician women.
    SFJ aims to serve conscious clientele searching for fair-trade jewels that have a positive social impact and put environmental care first, without compromising the jewelry designs and craftsmanship quality.
    A way to responsibly treat yourself and the people you love.
</p>

<strong class="mb-2">Ivana Tropea</strong>
<p>
    Ivana Tropea is a passionate Italian jeweller who aims to challenge gender inequalities in the jewels and jewelry industry.
    Having graduated in top-notch institutions (HEC Paris, La Sapienza of Rome, Autónoma de Madrid), she has a well-rounded education combining an MBA (analytical, strategic and quantitative training). With over 13 years of professional experience in General Management, Marketing and Communication, she is proficient in the creative side of business, communication and marketing.
    With an eye for jewelry and an interest in social impact, she aims to set up her own business to contribute to creating equal opportunities for women.
</p>
