---
layout: incubator_participant
name: tangle
title: Tangle
banner: 'image'
logoPath: 'tangle/logo.png'
company: Tangle
founder: Angelica Hicks
focus-area: Agriculture, Alternative Trade, Agroecology
country:
website:
socialMedia: []
---

<strong class="mb-2">Tangle</strong>
<p>
    Many commodities imported for U.S. consumption are grown in monoculture systems, exposing farming communities to environmental and economic risk. Founded by Angelica Hicks, Tangle is a new organization that creates the opportunity for customers to purchase various tropical products grown by farmers who are actively transitioning to diversified agroecological systems. As a part of the Tangle community, consumers and tropical fruit producers have the opportunity to connect directly with each other to ask questions, share their challenges, and offer collective support
</p>

<strong class="mb-2">Angelica Hicks</strong>
<p>
    Founder Angelica Hicks is from the United States and lives in Providence, Rhode Island. She has worked with sustainable supply chains and small-scale producer products for nearly five years and has noticed severe power imbalances across the supply chain. Through Tangle, she hopes to support movements to honor ecological limits and challenge the prioritization of Northern market growth over farming communities' livelihoods.
</p>
