---
layout: incubator_participant
name: zero_imprint
title: Zero Imprint
banner: 'image'
logoPath: 'zero_imprint/logo.png'
company: Zero Imprint
founder: Maya Glassman, Gabriel Adam
focus-area: Sustainability, Environment
country:
website: https://www.etsy.com/shop/Zeroimprint
socialMedia: [
{
    platform: 'facebook',
    url: 'https://www.facebook.com/ZeroImprint/',
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/zero_imprint/'
}
]
---

<strong class="mb-2">Zero Imprint</strong>
<p>
    Glass is one of the most widely used materials for packaging and storage, yet often discarded by consumers after a single-use. Zero Imprint aims to change the way consumers view used glass by creating new objects out of it. Zero Imprint upcycled glassware into user-friendly products to give used glass a second life, such as drinking glasses, pots and vases. The production of glasses is accompanied by the release of a chunk of CO2 to our atmosphere which, as we know, is not very sympathetic to us and our planet. Zero Imprint makes drinking glasses with no CO2 release, aiming to change the way consumers view used glass by creating new usable objects out of it.
</p>

<strong class="mb-2">Maya Glassman & Gabriel Adam</strong>
<p>
    Founder Maya, and her partner Gabriel, are passionate about promoting a more considerate and sustainable consumption culture. Through Zero Imprint, Maya and Gabriel used their creativity and skills to reduce glass that ends up in landfills and create a new, second life for glass to be enjoyed by consumers.
</p>
