---
layout: incubator_participant
name: zeza_learning_experience_design
title: ZEZA Learning Experience Design
banner: 'image'
logoPath: 'zeza_learning_experience_design/logo.png'
company: ZEZA Learning Experience Design
founder: Nina Pavlovska
focus-area: Learning and Development, Leadership Development, Team Building, Coaching

country:
website: www.zezalxd.com
socialMedia: [
{
    platform: 'facebook',
    url: 'https://www.facebook.com/zezation',
},
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/zeza'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/zezation/'
}
]
---

<strong class="mb-2">ZEZA Learning Experience Design</strong>
<p>
    ZEZA is a learning experience design consultancy offering support in co-creation and facilitation of powerful and transformational learning journeys on an individual, team, or organizational level. To get a taste of the ZEZA’s creative and experiential approach to facilitation and learning please visit our own toolbox <a href="https://zezalxd.com/zezapedia/" target="_blank">BIZApedia.</a>
</p>

<strong class="mb-2">Nina Pavlovska</strong>
<p>
    Nina Pavlovska has been active in the international cooperation and development sector within the field of social innovation, co-creating processes, projects, and products by engaging stakeholders from multiple sectors and various countries. She uses approaches from design and systems thinking and is able to design and host engaging and immersive learning journeys that combine online and face-to-face/physical experiences.<Br /><br />

    Nina has worked on multiple international projects that provided capacity building of program staff members on design thinking that have fostered co-creation and innovation with organizations and alliances alike.
</p>
