---
layout: incubator_participant
name: changemaker
title: Changemaker Product Management Coaching & Strategy
banner: 'image'
logoPath: 'changemaker/logo.png'
company: Changemaker Product Management Coaching & Strategy
founder: Laure X Cast
focus-area: Product Management | Nonprofit | Technology
country:
website: https://changemakerpm.com
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://linkedin.com/in/xplusx'
}
]
---

<strong class="mb-2">Changemaker Product Management Coaching & Strategy</strong>
<p style="word-break:keep-all;">
    Changemaker Product Management trains and coaches software product teams working in nonprofit or purpose-driven companies to adopt the best practices of the best product teams in the world. They believe that people-first processes of discovery along with de-risking strategies for all areas of the business give organisations the tools they need to make their purpose-driven visions a reality.</p>

<strong class="mb-2">Laure X Cast</strong>
<p style="word-break:keep-all;">
    Laure is a builder, strategist, leader, and problem solver, as well as a contributor, listener, and
    researcher. Their work focuses on understanding people, designing systems that meet real human social
    needs, responsible technology development, belonging, and distributed power.<br /><br />

    Laure serves on the board of <a style="display:inline-block;" href="https://www.prosocialdesign.org/" target="_blank">Prosocial Design Network</a>, is a Steward of
    <a style="display:inline-block;" href="https://www.collaborative.tech/" target="_blank">Collaborative Technology Alliance</a>, a mentor with <a style="display:inline-block;" href="https://alltechishuman.org/" target="_blank">All Tech is Human</a> and <a style="display:inline-block;" href="https://www.mentormecollective.org/" target="_blank">Mentor Me Collective</a>
    , a top contributor to <a style="display:inline-block;" href="https://www.lennysnewsletter.com/" target="_blank">Lenny Rachitsky’s</a>
    product community, part of the <a style="display:inline-block;" href="https://ecosystemsincubator.notion.site/ecosystemsincubator/The-Ecosystems-Incubator-0998c197dc9143a4a0603aab2b04928e" target="_blank">Ecosystems Incubator</a> project to reimagine social tech business models and a
    member and community advisor to the <a style="display:inline-block;" href="https://integrityinstitute.org/" target="_blank">Integrity Institute</a>. They are a founder of <a style="display:inline-block;" href="https://changemakerpm.com/" target="_blank">Changemaker Product Management</a>,
    which supports nonprofits and social impact technology teams to develop product discovery practices.
    Laure has over a decade of product leadership experience and a lifetime of community participation
    and stewardship.
</p>
