---
layout: incubator_participant
name: cmon
title: C'MON
banner: 'image'
logoPath: 'cmon/logo.png'
company: C'MON
founder: Lena Van der Wal & Marcella Wong
focus-area: Research | Design | Development | Impact
country:
website: https://www.cmon.world/
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/c-mon/'
},
{
platform: 'instagram',
url: 'https://www.instagram.com/cmon.world/'
}
]
---

<strong class="mb-2">C'MON</strong>
<p style="word-break:keep-all;">
    C'MON sprang to life in 2022, thanks to the combined passion and expertise of
    Marcella Wong and Lena van der Wal. Both TU Delft alumni bring a wealth of experience from their time
    together in circular real estate development.<br /><br />

    Lena, armed with fine arts, architecture, and real estate expertise, is a key player in the
    Dutch tiny house movement. She's all about eco-friendly building solutions and aims to make these
    ideas mainstream and accessible to all. On the other hand, Marcella is a pro at streamlining design &
    construction processes. Having grown up in an underprivileged neighborhood, she's committed to balancing
    affordability with good design.<br /><br />

    Currently, C'MON has grown to a creative and diverse team of 5 C'MONsters. At C'MON, they're
    driving change in everything from design and development to impact measurement and community engagement.
    They're not just talking about a better world - they're building it.<br /><br />

    C'MON is a dynamic post-growth enterprise and ecosystem, promoting a shift towards an economy
    driven by the common good. As an impact-focused project developer, we are deeply committed to
    creating positive change within the built environment, inspired by our profound love for
    humanity and the planet.<br /><br />

    Our vision of universal kindness shapes our actions, enabling each and every being to thrive.
    This vision is guided by our philosophy of 'small steps, big changes', embodying our belief in
    the power of incremental yet transformative progress.<br /><br />

    Connection and community are central to our approach. Embodying the spirit of 'we're in this together',
    we're devoted to progressing the world by fostering a sense of community and connection.
    Through these bonds, we believe true societal changes can be achieved.<br /><br />

    Our projects span a range of sectors, from education to affordable housing and care, aiming to blend
    different target groups and create inclusive, resilient neighborhoods. With this hands-on approach,
    we start at the grassroots level, strengthening community and neighborhood ties and bringing an
    actionable, collaborative perspective to the built environment.<br /><br />

    At C'MON, we're not just envisioning a better future but building it.
</p>
<strong class="mb-2">Lena Van der Wal & Marcella Wong</strong>
<p style="word-break:keep-all;">
    Founded in 2022, C'MON was established by Marcella Wong and Lena van der Wal,
    aspiring young professionals with a mission to bring impactful concepts to the built environment.
    They both graduated from the TU Delft and collaborated as project developers at a circular real
    estate developer before embarking on this journey. C'MON is experiencing rapid growth,
    expanding its services and team, and adhering to a post-growth philosophy that reinvests profits
    for the greater good.<br /><br />

    Lena's expertise in fine arts, architecture, and real estate development, along with her
    leadership in the Dutch tiny house movement, is devoted to eco-conscious solutions. She endeavors to
    scale up these ideas, making them more accessible and sustainable. With a background in architecture and
    industrial engineering, Marcella aims to optimize construction processes and affordability without
    compromising aesthetics, drawing inspiration from her upbringing in an underdeveloped neighborhood.<br /><br />

    Together, they champion socially conscious development, redefining the role of developers to
    contribute to a kinder, more sustainable world. C'MON's vision encompasses diverse areas, including design,
    development, impact measurement, investment, and co-creation, with a shared commitment to drive
    systemic change in the built environment. Their experiences and dedication to meaningful transformation
    shape C'MON's trajectory as they strive to make a positive difference in society.
</p>
