---
layout: incubator_participant
name: hoven_hier
title: HovenHier
banner: 'image'
logoPath: 'hoven_hier/logo.png'
company: HovenHier
founder: Alice Bezett
focus-area: Community Gardening, Landshare
country:
website:
socialMedia: [
{
    platform: 'facebook',
    url: 'https://www.facebook.com/profile.php?id=100093951657074'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/hovenhier/'
},
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/in/alice-bezett/'
}
]
---

<strong class="mb-2">HovenHier</strong>
<p style="word-break:keep-all;">
    HovenHier is a platform that connects people together with a common goal of gardening! It is for
    those who own land but, for various reasons, cannot make a garden for themselves, and so they are connected
    to people who garden as a passion so that the two groups can collaborate and create urban gardens together.<br /><br />

    We aim to increase biodiversity and decrease urban heat while making friends along the way.
</p>

<strong class="mb-2">Alice Bezett</strong>
<p style="word-break:keep-all;">
    Founder Alice Bezett comes from a physics and data science background, having worked in various
    academic and tech startup companies. However, she has always been an avid gardener and wanted to
    start a company that combined aspects of tech and helped the environment.
</p>
