---
layout: incubator_participant
name: inalena_artisan_connection
title: Inalena Artisan Connection
banner: 'image'
logoPath: 'inalena_artisan_connection/logo.png'
company: Inalena Artisan Connection
founder: Anna Kohler Smith
focus-area: Artisan crafts | Poverty | Reduction | Amazon
country:
website: https://www.inalena.com
socialMedia: []
---

<strong class="mb-2">Inalena Artisan Connection</strong>
<p style="word-break:keep-all;">
    Inalena Artisan Connection bridges the divide between lovers of beautiful handmade artisanal crafts and brilliant women creators living in riverside communities of the Peruvian Amazon. The company aims to break the cycle of poverty by helping to fund the maker’s desired community projects they would like to take on.
</p>

<strong class="mb-2">Anna Kohler Smith</strong>
<p style="word-break:keep-all;">
    Anna Kohler Smith believes in human potential, and her passions lie in connecting women makers with those who want to buy their art and support their ability to decide the future of their lives. She is a passionate public health advocate, fibre artist and writer living in Iquitos, Peru.
</p>
