---
layout: incubator_participant
name: map_of_vita
title: MAP of Vita
banner: 'image'
logoPath: 'map_of_vita/logo.png'
company: MAP of Vita
founder: Siva Subramaniyam
focus-area: Inner wellbeing | Mindfulness | Self-reflection
country:
website: https://www.mapofvita.org/
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/in/siva-subramaniyam/'
}
]
---

<strong class="mb-2">MAP of Vita</strong>
<p style="word-break:keep-all;">
    We believe that the present mindset of people is the root cause of all existing
    problems on our planet. To address these issues and create a better world, an internal
    mindset shift is needed, especially among the world's change-makers, front-runners, or creators.
    As Albert Einstein said, 'You cannot solve a problem with the same mind that created it.' We all
    need to be more self-reflective and grounded humans to create a better world
    that serves all on this planet.<br /><br />

    Around the world, there are unique coaches or guides, such as those among native people with
    indigenous knowledge or Eastern spiritual teachers with ancient wisdom, that are necessary for the
    unique present needs of today. Inner wisdom is essential to face the present challenges, such as climate
    anxiety, and biodiversity loss. Inner knowledge helps foster thinking such as a regenerative mindset,
    finding oneness with everyone, and promoting balanced leadership between masculinity and femininity.<br /><br />
    We believe if the inner wisdom from these guides is transformed into change-makers and
    also every interested individual, we can help them to face present external situations
    and to create a better world. Therefore, we are creating an online platform to empower
    people with their internal transformation through the following features:<br />
    <ol>
        <li>Individualized learning paths: By asking inner journey questions that arise within us
            to guide or coach and also learning from other individuals' questions on the platform that
            resonate with us.</li>
        <li>Small circles of safe space to reflect on those learnings: In the platform, anyone can create
            an online meeting on any topic they are interested in, and people worldwide could join.
            The online meeting will occur among a smaller number of people with a standard meeting
            structure to give an opportunity for everyone to share their learnings and learn from each other.</li>
        <li>A community of self-reflected people: We are creating a community of self-reflected individuals
            by facilitating opportunities to connect with each other on various levels. This could help
            mindful people find like-minded individuals for personal connections or serve as a place to
            create new initiatives that could contribute to the betterment of our planet."</li>
    </ol>

    As there is no one solution to address the present problems of our world, we believe mindset
    shift is the root cause.
</p>

    <strong class="mb-2">Siva Subramaniyam</strong>
<p style="word-break:keep-all;">
    Siva Subramaniyam was born and brought up in the southern part of India in an industrial
    city called Coimbatore. From a young age, he has been a spiritual seeker on a lifelong inner journey.<br /><br />

    From 2006, he sailed and travelled the world by Merchant marine ships as a Navigating Officer,
    having been fortunate to have travelled to more than 50 countries so far. He has met local
    people from around the globe and visited places where normal tourists usually do not go.
    He has also witnessed the effects of climate change in person from various parts of the
    world, and through these experiences, it has changed the way he sees life.<br /><br />

    In 2019, after 13 years, he quit his sailing career and moved to Germany to spend the
    rest of his life giving back to our planet.
</p>
