---
layout: incubator_participant
name: soulfully_rich
title: Soulfully Rich
banner: 'image'
logoPath: 'soulfully_rich/logo.png'
company: Soulfully Rich
founder: Natalie Lee and Joey Lee
focus-area: Personal Mastery, Entrepreneurship, Leadership, Talent Acquisition and Staffing, Wellbeing and Income Equality
country:
website: https://www.soulfullyrich.com/
socialMedia: [
{
    platform: 'instagram',
    url: 'https://www.instagram.com/soulfully.rich/'
}
]
---

<strong class="mb-2">Soulfully Rich</strong>
<p style="word-break:keep-all;">
    Soulfully Rich, is a consultant agency and community platform existing to create a thriving network of
    extraordinary entrepreneurs, advisors, and experts who come together to foster connection, collaboration,
    and support.
</p>

<strong class="mb-2">Natalie Lee</strong>
<p style="word-break:keep-all;">
    Meet Natalie Lee, the visionary force behind Soulfully Rich, revolutionising entrepreneurship with a transformative approach. With unwavering dedication, Natalie guides entrepreneurs and individuals on a journey of elevating consciousness, achieving inner wealth, and
    unleashing innate wisdom. By aligning both inner and outer experiences, she empowers individuals to make a
    profound impact.
    Rooted in the DNA of entrepreneurship, Natalie's path was shaped by her hard-working parents,
    instilling a deep reverence for the entrepreneurial journey. Fueled by this profound upbringing,
    she empowers individuals to lead balanced lives, cultivate thriving communities, and create lasting impact.<br /><br />
    Natalie's true distinction lies in her holistic approach, recognizing that true success transcends financial achievements.
    Through expertise in mindfulness, resilience, and self-awareness, she empowers entrepreneurs to embark on a
    journey of personal growth and business success. She believes in redefining success, leaving a meaningful
    legacy, and igniting a new era of conscious entrepreneurship.<br /><br />
    <strong class="mb-2">Joey Lee</strong><br /><br />
    Joey Lee is known for defying the status quo and challenging norms. With an unwavering passion for connectivity,
    collaboration, and innovation, Joey is driven to make a difference.<br /><br />
    Placing people at the core of their purpose throughout their entire careers, Joey has always been
    dedicated to uplifting and empowering others. Influenced by incredible parents and embracing the warmth
    of Hawaiian culture, Joey's guiding principles revolve around respect, love, and harmony. Nicknamed the
    "Island Kahuna" in TalentAcquisition, Joey has 22 years of experience working with startups and corporate
    giants, nurturing authentic leaders who shape innovation, trust, and inclusion cultures. Their reputation
    stands tall for transformational leadership, boundless creativity, and unwavering dedication to
    building a long-term and proactive approach to the talent pipeline.<br /><br />
    With a comprehensive understanding of talent acquisition strategies, workforce planning, attraction,
    branding, selection practices, and measurement, Joey has a Bachelor of Arts degree in Psychology from
    UC Riverside and an HR Management Certification from UCLA.<br /><br />
    Driven by the mission to change the world one person at a time, Joey is an ardent advocate for Soulfully Rich.<br /><br />
    This extraordinary company creates an interconnected network of phenomenal entrepreneurs, advisors, and experts, enabling individuals to unleash their collective potential and provide uplifting support on a remarkable journey.
</p>
