---
layout: incubator_participant
name: spirit_work
title: Spirited@Work
banner: 'image'
logoPath: 'spirit_work/logo.png'
company: Spirited@Work
founder: Wonny Tjon
focus-area: Conscious Leadership | Wellbeing
country:
website: www.spiritedatwork.com
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/in/wonnytjon/'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/spiritedatwork/'
},
{
    platform: 'youtube',
    url: 'https://www.youtube.com/watch?v=baZMKwCDGmc'
},
{
    platform: 'youtube',
    url: 'https://www.youtube.com/watch?v=5ckyNWPu2XE'
},
{
    platform: 'youtube',
    url: 'https://www.youtube.com/watch?v=1oR5hp73tB4'
}
]
---

<strong class="mb-2">Spirited@Work</strong>
<p style="word-break:keep-all;">
    Spirited@Work creates transdisciplinary meeting spaces for the well-being of the greater good of all sentient beings.
</p>

<strong class="mb-2">Wonny Tjon</strong>
<p style="word-break:keep-all;">
    Wonny's vision is to create environments where everyone is inspired to use their energy and time in
    the most sustainable and fulfilling way to perform their jobs and live their lives to their fullest potential.
    Enabling them to feel valued for their energy and talents to organisations and society.<br /><br />

    She works at the transdisciplinary nexus of Behavioural Psychology, Wellbeing, Business, Architecture,
    Science, Technology, Metaphysics, Philosophy and Spirituality. Integrating the natural, social and health
    sciences in a humanities context transversing traditional boundaries.<br /><br />

    Wonny is the founder of Spirited@Work, inspiring Conscious Leadership in Multidimensional well-being
    in body (physical), mind (mental), heart (emotional), soul (individual) and spirit (universal/cosmic).<br /><br />

    Born in Suriname of Chinese descent, she moved to the Netherlands at the age of 8. She studied
    Modern Japanese Studies, Account Management and Chinese Languages and Cultures.  studied in Taiwan and Japan
    for a year and worked in Japan and China.  She has a corporate background in banking, project management,
    government and non-government organisations.<br /><br />

    She is trained as a Martha Beck life coach, an Eden Method teacher, a Shamanic practitioner and Tibetan
    Medicine Counselor. She studies BioGeometry (Physics of Quality), Tibetan Medicine & Tibetan Mantra Healing,
    and Qigong.<br /><br/>

    Wonny participated in the Rotterdam Climate Hackathon 2016 and her team won the Highest Potential
    Challenge. <a style="display:inline-block;" href="https://www.youtube.com/watch?v=baZMKwCDGmc" target="_blank">https://www.youtube.com/watch?v=baZMKwCDGmc</a><br /><br />

    n 2020, during Covid, she entered the Metaskills Challenge, and the team won the
    Challenge. <a style="display:inline-block;" href="https://www.youtube.com/watch?v=5ckyNWPu2XE" target="_blank">https://www.youtube.com/watch?v=5ckyNWPu2XE</a><br /><br />

    A Behaviour Change case study revolved around supporting the Tibetan Mantra singer Drukmo Gyal with
    enlarging the engagement with the first Tibetan Medicine Healing Center in the Baltic States,
    Väluste in Estonia. <a style="display:inline-block;" href="https://youtu.be/hDWYbg3cYnw" target="_blank">https://youtu.be/hDWYbg3cYnw</a><br /><br />

    She is a board member of One Million Leaders Africa, which supports Social Entrepreneurship on their
    leadership journey. In 2022, she was invited to present at Sofia University in Tokyo, Japan on conscious
    Personal Leadership by the Next Leadership Initiative for Sustainability,
    <a style="display:inline-block;" href="https://www.youtube.com/shorts/7BKBogMquDw" target="_blank">https://www.youtube.com/shorts/7BKBogMquDw</a><br/><br />

    In 2023, she was selected for the 2023 Kincentric Leadership program, participating in the Sociocracy for
    All Facilitator program, Post Growth Entrepreneurship Train-the-Trainer and Incubator.
</p>
