---
layout: incubator_participant
name: the_other_dada
title: theOtherDada
banner: 'image'
logoPath: 'the_other_dada/logo.png'
company: theOtherDada / theOtherForest
founder: Adib Dada & Ramona Fricke
focus-area: Regenerative Consultancy, Architecture and Forest-making
country:
website: https://theotherdada.com/
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/in/adibdada/'
},
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/in/ramonafrickesprofile/'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/theotherdada/'
}
]
---

<strong class="mb-2">theOtherDada</strong>
<p style="word-break:keep-all;">
    theOtherDada is a regenerative consultancy & architecture practice committed to rewilding people and places.<br /><br />
    <a style="display:inline-block;" href="https://www.theotherdada.com/en/" target="_blank">theOtherDada</a> is a regenerative consultancy & architecture practice, working with Nature
    to build shared habitats for humans and other organisms to thrive in cities. As Lebanon’s
    first <a style="display:inline-block;" href="https://www.bcorporation.net/en-us/find-a-b-corp/company/the-other-dada-regenerative-consultancy-architecture/" target="_blank">BCorp certified</a> company, we firmly believe that businesses have the responsibility and
    opportunity to make meaningful, positive change. Through our initiative <a style="display:inline-block;" href="https://www.theotherdada.com/en/theotherforest" target="_blank">theOtherForest</a>, which we have
    been deploying in neighborhoods and schools, we empower communities to reclaim degraded land, de-pave concrete
    playgrounds and restore the earth by planting these areas and turning them into public space for all forms of life.<br /><br />
    Growing Back Beirut short doc [free signup]<br />
    <a style="display:inline-block;" href="https://www.waterbear.com/watch/short/611a3599edba071564ca4ce2" target="_blank">https://www.waterbear.com/watch/short/611a3599edba071564ca4ce2</a>
</p>

<strong class="mb-2">Adib Dada</strong>
<p>“We’re co-creating shared spaces for humans and other organisms to thrive”</p>
<p style="word-break:keep-all;">
    Adib Dada is an award-winning environmental activist and architect, founder of theOtherDada [tOD]
    Regenerative Consultancy & Architecture Practice, the first B Corp certified company in Lebanon.<br /><br />

    Firmly committed to the UN Decade of Action, Adib is engaged in rewilding the city and reclaiming public
    space by planting native Miyawaki forests in urban landfills through his new initiative: <a style="display:inline-block;" href="https://www.theotherdada.com/en/theotherforest" target="_blank">theOtherForest</a>,
    a nature-based tool for ecological and social regeneration. Adib trained in the Miyawaki Method of
    afforestation under Shubhendu Sharma and Afforestt and is now their regional partner for afforestation projects
    in the Middle East.<br /><br />

    Since 2019 he has planted over 11 forests across cities in Lebanon, reclaiming more than 3,700 square
    meters of degraded land by planting them with over 10,500 trees and shrubs of 28 different native species.
    Adib’s story has been produced by Off The Fence and Waterbear into <a style="display:inline-block;" href="https://vimeo.com/648298853/2a3b0668d6" target="_blank">Growing Back Beirut</a>, a short documentary
    about his forest-making work in the aftermath of the Beirut explosion of 2020.<br /><br />

    Adib is a regular lecturer on environmental topics with institutions such as Cambridge University,
    Goethe Institute, The Slow Factory, World Expo Dubai, and SxSW eco. His work with forests has been published
    in books, most recently in Hannah Lewis’ Mini-Forest Revolution, Naomi Zurcher’s Connecting Trees with People,
    and his writings are part of Extinction Rebellion’s new book in the making.  Adib is the recipient of numerous
    awards and grants, such as the McNulty Foundation Impact Grant, D&AD Development Grant, D&AD Future Impact Award,
    iF Social Impact Prize and was listed as one of GOOD Magazine’s GOOD 100 for his project Beirut RiverLESS.
    He has been profiled in Monocle Magazine, Damn Magazine, The Grist, Vogue Arabia, Vanity Fair France, and
    Society for Ecological Restoration, among others.
</p>
<strong class="mb-2">Ramona Fricke</strong>
<p style="word-break:keep-all;">
    Ramona Fricke joined theOtherDada in early 2022 to support the company in completely redesigning its business model
    in response to the Beirut Blast and the following socio-economic crisis. <br /><br />

    Alongside Adib, she is leading the company’s strategy sessions, manages long-term collaborations, assesses
    opportunities and is guiding the company through rebuilding its team, establishing a regenerative culture
    and robust organisational processes to ensure theOtherDada is walking its talk towards a thriving world for
    all starting from the inside out.<br /><br />

    Originally German, Ramona has a background in Philosophy, Politics and Economics from Witten-Herdecke, went
    on to study Social Innovation Management at the Amani Institute in India and met Adib through their shared
    community of Bioleadership Fellows.<br /><br />

    She’s travelled to and lived in different parts of the Middle East and beyond, working in organisations as
    big as the GIZ all the way to startups or a tiny art practice. She thus possesses a strong capability to
    adapt to new surroundings and build on the best of each culture she works with.<br /><br />

    Outside of tOD, she is currently setting up her own practice as a certified coach focused on empowering
    women and young changemakers to discover & follow their vision, build a strong network and create a stable
    work-life balance.
</p>
