---
layout: incubator_participant
name: the_fireplace
title: The Fireplace
banner: 'image'
logoPath: 'the_fireplace/logo.png'
company: The Fireplace
founder: Suzan Joy
focus-area: Wellbeing | Health | Nature | Food Security
country:
website:
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/in/suzan-joy-4b104515a'
}
]
---

<strong class="mb-2">The Fireplace</strong>
<p style="word-break:keep-all;">
    The Fireplace envisions a world where women are radiating aliveness within themselves unto others by co-creating transdisciplinary living spaces to enhance their wellbeing
</p>

<strong class="mb-2">Suzan Joy</strong>
<p style="word-break:keep-all;">
    Suzan is an environmentalist, systems thinker and a community advocate passionate about collaborative
    actions that aim at supporting the wellbeing of people and the planet! <br /><br />

    She specialises in innovation, conscious communication, research, evaluation, education, women
    centred programs and movement building. She consults regularly for civil society and international
    grant making organisations alongside grassroots community projects!<br /><br />

    She coordinates the Wellbeing Economy Allies  East Africa hub, a research fellow at the Schumacher
    Institute and a certified Collective Leadership Specialist at the Collective Leadership Institute.
</p>
