---
layout: incubator_participant
name: yuj
title: Yuj
banner: 'image'
logoPath: 'yuj/logo.png'
company: Yuj
founder: Suparna Chhibber
focus-area: Service Design | Humane Business and Technology
country:
website:
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/in/suparnachhibber/'
}
]
---

<strong class="mb-2">Yuj</strong>
<p style="word-break:keep-all;">
    Yuj* is a consultancy and studio. We offer advisory services, hands-on workshops,
    actionable frameworks and strategies for organizations committed to creating healthier human
    interactions and relationships through their products and services. We aim to make the world
    feel more relational rather than transactional and superficial.<br /><br />

    Our toolset combines first-hand research with diverse interdisciplinary insights―from social sciences,
    neurobiology, and systems thinking to wisdom traditions, Yoga philosophy, and non-violent
    communication―to make deep knowledge accessible and practical for modern contexts. While we are
    currently focused on supporting organizations, our work can be used by individuals and groups.<br /><br />

    Imagine…what if we cover the world with billions of relational spaces, online and offline, where
    hearts and bodies relax into healthier and non-performative interactions with one another?
    The world would feel less disconnected and isolating.<br /><br />

    <span style="font-style:italic;">* Yuj is a Sanskrit root word that means “to unite" or "to connect".</span>
</p>

<strong class="mb-2">Suparna Chhibber</strong>
<p style="word-break:keep-all;">
    Suparna has worked as an intrapreneur, repeatedly building new businesses and functional
    areas from scratch in diverse, multicultural and international environments.
    She is a business generalist with a technology, international business, strategy and
    marketing background. Because she wants to take an active role in designing humane
    products and technology, especially those that strengthen our relationships and society,
    she has been on a trajectory of learning and reimagining her work.
    <br />
    Her writing (<a href="https://www.workingmeditation.co/" target="_blank">https://www.workingmeditation.co/</a>) was the first "sprout" on this journey. The second "sprout" is Yuj.<br /><br />

    You can find her at:<br />
    <a href="https://www.linkedin.com/in/suparnachhibber/" target="_blank">https://www.linkedin.com/in/suparnachhibber/</a><br />
    <a href="https://www.workingmeditation.co/" target="_blank">https://www.workingmeditation.co/</a><br />
    <a href="https://twitter.com/WorkingMeditate" target="_blank">https://twitter.com/WorkingMeditate</a>
</p>
