{% if include.diagonal-line == true %}
{% include components/diagonal-section.html
position='left-bottom'
height=200
%}
{% endif %}
<div class="container-fluid bg-light-blue">
    <div class="container py-5">
        <div class="row">
            <div class="d-flex align-items-center w100 flex-column">
                <div class="mb-3 d-flex align-items-center w100 flex-column">
                    <div class="section-title section-title--white">
                        Do you have any ideas? Are you interested in volunteering?
                    </div>
                    <p>
                        Tell us what you want do to get involved.
                    </p>
                </div>
                <div class="mb-2">
                    <a href="mailto:support@nonprofit.ventures" class="button">
                        Email Us
                    </a>
                </div>
                <div>
                    <a href="https://www.linkedin.com/company/post-growth-entrepreneurship" target="_blank"
                       class="button">
                        Join the conversation on our LinkedIn group
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
