{% if page.footer-diagonal-right-bottom == true %}
{% include components/diagonal-section.html
position='right-bottom'
height=400
%}
{% endif %}
{% if page.footer-diagonal-left-bottom == true %}
{% include components/diagonal-section.html
position='left-bottom'
height=400
%}
{% endif %}
<div class="container-fluid
        {% if page.footer-bg == true %} bg-light-blue {% endif %}
        {% if include.footer-bg == true %} bg-light-blue {% endif %}
        {% if page.footer-part %} footer__part {% endif %}
">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer footer__section">
                    <div class="footer__section">
                        <div class="footer__contact-us">
                            Contact Us
                        </div>
                    </div>
                    <div class="footer__section">
                        <div class="footer__email-us">
                            For all enquiries please email us at
                            <br>
                            <a href="mailto:info@postgrowthentrepreneurship.com" class="footer__email-address">info@postgrowthentrepreneurship.com</a>
                        </div>
                    </div>
                    <div class="footer__section">
                        <div class="social-bar">
                            <a href="https://www.linkedin.com/company/post-growth-entrepreneurship" target="blank"
                               class="social-bar__icon">
                                {% include svg/linkedin.svg %}
                            </a>
                            <a href="https://www.youtube.com/channel/UCSL7Lp7l0EcZybz4GB8LJAg" target="blank"
                               class="social-bar__icon">
                                {% include svg/youtube.svg %}
                            </a>
                        </div>
                    </div>
                    <div class="footer__section">
                        {% include svg/arrow_long_down.svg %}
                    </div>
                    <div class="footer__section">
                        <div style="text-align: center">
                            Post Growth Entrepreneurship Workshop released under the CC license Creative Commons (CC BY-SA 4.0)
                        </div>
                    </div>
                    <div class="footer__section">
                        {% include svg/cc_icon.svg %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var header = document.getElementById('header');

    window.onscroll = function () {
        if (window.pageYOffset > 0) {
            header.classList.add('sticky');
            document.body.classList.add('sticky-header');
        } else {
            header.classList.remove('sticky');
            document.body.classList.remove('sticky-header');
        }
    }
</script>
