<div id="header" class="header">
    <div class="header-content-container">
        <div class="d-flex justify-content-between align-items-center w100">
            <a class="header__logo d-flex" style="width: 100%" href="{{ '/' | prepend: site.baseurl }}">
                <img class="image-card__image d-flex"
                     src="{{ '/assets/images/pge-logo/pge-logo.png' | prepend: site.baseurl }}">
            </a>
            <div class="header--desktop">
                <ul class="nav list-style-none">
                    {% for item in site.data.menu.menu %}
                    <li class="nav__item{% if item.url == page.url %} active {% endif %}">
                        <a class="button" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
                        {% if item.sub-menu-item.size > 0 %}
                        <ul class="nav__dropdown list-style-none {{item.title}}">
                            {% for entry in item.sub-menu-item %}
                            <li class="nav__item{% if entry.url == page.url %} active {% endif %}">
                                <a class="nav__link" href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="header--mobile">
                <div class="hamburger-button" id="hamburger-menu">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="nav-mobile" class="nav-mobile">
    <div class="d-flex justify-content-center w100">
        <ul class="nav list-style-none flex-column">
            {% for item in site.data.menu.menu %}
            <li class="nav__item nav__item--mobile mb-2 {% if page.permalink == item.url %}active{% endif %}">
                <a href="{{ item.url | prepend: site.baseurl }}">
                    {{ item.title }}
                </a>
                {% if item.sub-menu-item.size > 0 %}
                <ul class="nav__dropdown list-style-none">
                    {% for entry in item.sub-menu-item %}
                    <li class="nav__item nav__item--mobile{% if entry.url == page.url %} active {% endif %}">
                        <a class="nav__link" href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    var hamburgerButton = document.getElementById('hamburger-menu');
    var navMobile = document.getElementById('nav-mobile');
    var htmlTag = document.getElementsByTagName('html');

    function toggleClass(element, className) {
        if (element.classList.contains(className)) {
            element.classList.remove(className);
        } else {
            element.classList.add(className);
        }
    }

    function removeClass(element, className) {
        element.classList.remove(className);
    }

    hamburgerButton.addEventListener('click', function() {
        toggleClass(hamburgerButton, 'active');
        toggleClass(navMobile, 'open');
        toggleClass(htmlTag[0], 'overflow-hidden');
    });

    window.addEventListener("resize", function(){
        removeClass(hamburgerButton, 'active');
        removeClass(navMobile, 'open');
        removeClass(htmlTag[0], 'overflow-hidden');
    });

</script>
