<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.metatitle %}{{ page.metatitle }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    {% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}?v={{ site.time | date: '%s' }}">
</head>
