<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-banner">
                <h1 class="page-banner__title">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</div>
