<div class="container">
    <div class="row">
        <div class="page-banner">
            {% if page.banner == 'title' %}
            <h1 class="page-banner__title page-banner__title--incubator">{{ page.title }}</h1>
            <div class="page-banner__line">
                {% include svg/line_long.svg %}
            </div>
            {% endif %}

            {% if page.banner == 'image' %}
            <div class="w100 d-flex justify-content-center">
                <div class="px-2" style="max-width: 400px; max-height: 250px; text-align: center">
                    <img src="{{ '/assets/images/incubator_participants/' | append: page.logoPath | prepend: site.baseurl }}">
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
