<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-12">
            <div class="subscribe__wrapper">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="subscribe">
                            <div class="section-title mb-2">
                                Subscribe to PGE
                            </div>
                            <div class="subscribe__text mb-4">
                                Enter your email address to stay up to date with the latest from Post Growth Entrepreneurship
                            </div>
                            <form class="subscribe__form">
                                <div class="mb-4">
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-2">
                                            <div class="subscribe__input-wrapper">
                                                <input class="subscribe__input" type="text" placeholder="First and Last Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="subscribe__input-wrapper">
                                                <input class="subscribe__input" type="text" placeholder="Email Address">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="subscribe__text mb-2">
                                    Let us know what you’re interested in:
                                </div>
                                <div class="mb-4">
                                    <div class="row justify-content-between">
                                        <div class="col-lg-2 col-12">
                                            <label class="checkbox-container">
                                                Workshops
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-lg-2 col-12">
                                            <label class="checkbox-container">
                                                Bootcamps
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-lg-5 col-12">
                                            <label class="checkbox-container">
                                                Brainstorming sessions and Training
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-lg-2 col-12">
                                            <label class="checkbox-container">
                                                Learning
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end w100">
                                    <button type="submit" class="button">
                                        Sign Up
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include components/diagonal-section.html
position='left-bottom'
height=200
backgroundColor='bg-white'
%}
