// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
                (
                        // Padding utilities
                        "padding": (
                                responsive: true,
                                property: padding,
                                class: p,
                                values: $spacers
                        ),
                        "padding-x": (
                                responsive: true,
                                property: padding-right padding-left,
                                class: px,
                                values: $spacers
                        ),
                        "padding-y": (
                                responsive: true,
                                property: padding-top padding-bottom,
                                class: py,
                                values: $spacers
                        ),
                        "padding-top": (
                                responsive: true,
                                property: padding-top,
                                class: pt,
                                values: $spacers
                        ),
                        "padding-end": (
                                responsive: true,
                                property: padding-right,
                                class: pe,
                                values: $spacers
                        ),
                        "padding-bottom": (
                                responsive: true,
                                property: padding-bottom,
                                class: pb,
                                values: $spacers
                        ),
                        "padding-start": (
                                responsive: true,
                                property: padding-left,
                                class: ps,
                                values: $spacers
                        ),
                        // Margin utilities
                        "margin": (
                                responsive: true,
                                property: margin,
                                class: m,
                                values: map-merge($spacers, (auto: auto))
                        ),
                        "margin-x": (
                                responsive: true,
                                property: margin-right margin-left,
                                class: mx,
                                values: map-merge($spacers, (auto: auto))
                        ),
                        "margin-y": (
                                responsive: true,
                                property: margin-top margin-bottom,
                                class: my,
                                values: map-merge($spacers, (auto: auto))
                        ),
                        "margin-top": (
                                responsive: true,
                                property: margin-top,
                                class: mt,
                                values: map-merge($spacers, (auto: auto))
                        ),
                        "margin-end": (
                                responsive: true,
                                property: margin-right,
                                class: me,
                                values: map-merge($spacers, (auto: auto))
                        ),
                        "margin-bottom": (
                                responsive: true,
                                property: margin-bottom,
                                class: mb,
                                values: map-merge($spacers, (auto: auto))
                        ),
                        "margin-start": (
                                responsive: true,
                                property: margin-left,
                                class: ms,
                                values: map-merge($spacers, (auto: auto))
                        ),
                ),
                $utilities
);
