* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  background-color: #EDEDE7;
  color: $pge-grey;
  font-size: 24px;
  line-height: 1.25;
  font-family: 'Source Sans Pro', sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

body {
  margin: 0;
  padding-top: 120px;
  transition: padding .4s ease-out;
}

.section {
  width: 100%;
  margin-bottom: 30px;
}

.section-medium {
  width: 100%;
  margin-bottom: 50px;
}

.section-large {
  width: 100%;
  margin-bottom: 100px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.button {
  display: inline-block;
  padding: 8px 24px;
  border: 3px solid $pge-blue;
  font-weight: 900;
  font-size: 0.9rem;
  color: $pge-blue;
  cursor: pointer;
  word-break: break-word;
  transition: all ease 125ms;
  text-align: center;

  &:hover {
    text-decoration: none;
    background-color: $pge-blue;
    color: #FFFFFF;
  }

  @media screen and (max-width: 650px) {
    padding: 7px 20px;
  }
}

.container-padding {
  @media screen and (min-width: 1050px) {
    padding: 0 70px;
  }
}

.button--brown {
  color: #BDB1A8;
  border-color: #BDB1A8;
  &:hover {
    background-color: #BDB1A8;
    color: #FFFFFF;
  }
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-light-blue {
  background-color: $pge-blue-light;
}

.bg-light-grey {
  background-color: #F4F4F0!important;
}

.anchor-list {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1100px) {
    margin-bottom: 50px!important;
  }
}

.anchor-list__item {
  @include pge-title;
  cursor: pointer;
}

.icon-anchor {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


.non-profit-ventures-logo {
  max-width: 300px;

  @media screen and (max-width: 768px) {
    max-width: 220px;
  }

  @media screen and (max-width: 500px) {
    max-width: 150px;
  }
}

.text-button {
  font-weight: bolder;
  font-size: 0.9rem;
  text-decoration: underline;
  word-break: break-word;
}
