.image-card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.image-card__item-wrapper {
  padding: 14px;
  flex-basis: 33.333%;
  height: 250px;

  @media screen and (max-width: 768px) {
    flex-basis: 50%;
  }

  @media screen and (max-width: 500px) {
    flex-basis: 100%;
  }
}

.inalena_artisan_connection .image-card__item {
  padding: 0;
  background-color: #f4f4f4;
}

.image-card__item {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 125ms;

  &:hover {
    transform: scale(1.04);
  }
}

.image-card__item--logo {
  background-color: white;
  padding: 35px 25px;
}

.image-card__image {
  max-width: 100%;
  max-height: 100%;
}

.image-card__background {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
}

.image-card__title {
  font-weight: 600;
}

.image-card__item-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

//Incubator participants 2024 background colors
.braver_love_media .image-card__item--logo {
    background-color: #FCFCFC;
}
.d_ali .image-card__item--logo {
    background-color: #303C52;
}
.flora_consultoria .image-card__item--logo {
    background-color: #fff;
}
.green_skills_library .image-card__item--logo {
    background-color: #fff;
}
.happy_fam .image-card__item--logo {
  background-color: #1588FF
}
.ihtimam .image-card__item--logo {
  background-color: #F0F0F0;
}
.ilios_partners_llp .image-card__item--logo {
  background-color: #090B24;
}
.regrowth .image-card__item--logo {
  background-color: #7DB785;
}
.rereplenish .image-card__item--logo {
  background-color: #D39D9B;
}
.the_wildmesh .image-card__item--logo {
  background-color: #FCFCFC;
}
.untangled .image-card__item--logo {
  background-color: #262626;
}
.zerho_waterless_toilet .image-card__item--logo {
  background-color: #fff;
}

//can be removed when all 2022 cohort cards are made
.image-card__item-wrapper.incubator-2022:last-child{
  visibility: hidden!important;
  pointer-events: none;
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.image-card__item-wrapper.incubator-2023:nth-last-child(-n+2){
  visibility: hidden!important;
  pointer-events: none;
  @media screen and (max-width: 500px) {
    display: none;
  }
}
