.container1 {
  padding-bottom: 130px;
  @media screen and (max-width: 800px) {
    padding-bottom: 160px;
  }
  position: relative;
  z-index: 0;
}

.container1-content {
  margin-top: -270px;
  @media screen and (max-width: 800px) {
    margin-top: -200px;
  }
}
