.video1-container {
  padding-bottom: 130px;
}

.video1-content {
  margin-top: -150px;
}

.video2-before-line {
  padding-top: 120px;
}

.video2-content {
  margin-top: -230px;
}

.video3-before-line {
  padding-top: 500px;
  @media screen and (max-width: 500px) {
    padding-top: 200px;
  }
}

.video3-content {
  margin-top: -400px;
  @media screen and (max-width: 500px) {
    margin-top: -200px;
  }
}

.video4-before-line {
  padding-top: 600px;
  @media screen and (max-width: 500px) {
    padding-top: 300px;
  }
}

.video4-content {
  margin-top: -600px;
  @media screen and (max-width: 500px) {
    margin-top: -300px;
  }
}
