.diagonal {
  width: 100%;
  position: relative;
  height: 10vw !important;
  max-height: 400px;

  &:after{
    content: '';
    background-color: #EDEDE7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &.diagonal--bg-white {
    &:after{
      background-color: white;
    }
  }
}

.diagonal--left-bottom {
  background: linear-gradient(to left bottom, transparent 49.8%, $pge-blue-light 50%);
}

.diagonal--right-bottom {
  background: linear-gradient(to right bottom, transparent 49.8%, $pge-blue-light 50%);
}

.diagonal--left-top {
  background: linear-gradient(to left top, transparent 49.8%, $pge-blue-light 50%);
}

.diagonal--right-top {
  background: linear-gradient(to right top, transparent 49.8%, $pge-blue-light 50%);
}
