.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 55px;

  &.bg-light-blue {
    background-color: $pge-blue-light;
  }
}

.footer__part {
  position: relative;
  &:after {
    content: '';
    background-color: $pge-background-color;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    top: 0;
  }
}

.footer__section {
  padding-bottom: 25px;
  color: #000000;
}

.footer__contact-us {
  font-weight: 900;
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
  display: block;

  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

.footer__email-us {
  text-align: center;
}

.footer__text {

}

.social-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-bar__icon {
  margin: 0 5px;
}

.footer__email-address {
  font-weight: 900;
  font-size: 1rem;
}
