.graphic-number {
  position: relative;
  line-height: 0;
  z-index: 0;
  &:after {
    z-index: -1;
    content: '00';
    font-size: 10rem;
    font-weight: 900;
    position: absolute;
    top: -20px;
    left: -50px;

    @media screen and ( max-width: 768px ) {
      font-size: 6rem;
    }
  }
}

.graphic-number--video {
  &:after {
    top: 100%;
  }
}

.graphic-number--opacity-6 {
  &:after {
    opacity: 0.6;
  }
}

.graphic-number--white {
  &:after {
    color: #FFFFFF;
  }
}

.graphic-number--light-blue-trans {
  &:after {
    color: rgba($pge-background-color-rgb, 0.6);
  }
}

.graphic-number--white-trans {
  &:after {
    color: rgba(255, 255, 255, 0.6);
  }
}

.graphic-number--light-blue {
  &:after {
    color: $pge-blue-light;
  }
}

.graphic-number--01 {
  &:after {
    content: '01';
  }
}

.graphic-number--02 {
  &:after {
    content: '02';
  }
}

.graphic-number--03 {
  &:after {
    content: '03';
  }
}

.graphic-number--04 {
  &:after {
    content: '04';
  }
}
