.header {
  height: 100px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color .25s ease-out, height .3s ease-out;
  user-select: none;

  &.sticky {
    height: 60px;
    top: 0;
    background-color: white;
  }

  @media screen and (max-width: 768px) {
    height: 100px;
  }
}

.header__logo {
  max-width: 400px;

  @media screen and (max-width: 768px) {
    max-width: 300px;
  }

  @media screen and (max-width: 400px) {
    max-width: 200px;
  }
}

.header-content-container {
  width: 100%;
  padding: 0 55px;

  @media screen and (max-width: 600px) {
    padding: 0 25px;
  }
}

@media screen and (min-width: 1250px) {
  .header--desktop {
    display: flex;
  }

  .header--mobile {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  .header--desktop {
    display: none;
  }

  .header--mobile {
    display: flex;
  }
}
