.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5px 30px;
}

.image-gallery__item-wrapper {
  padding: 15px;
  width: 33.333%;

  @media screen and (max-width: 768px) {
    width: 50%;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}


.image-gallery__image {
  width: 100%;
  max-width: 100%;
}

.image-gallery__bg-image {
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}

.image-gallery__item--logos {
  padding: 20px;
  background: white;
}

.image-gallery__bg-image--contain {
  padding-top: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
