.nav {
  display: flex;
  align-items: center;
  margin: 0;
}

.nav__item {
  position: relative;
  white-space: nowrap;
  margin: 0 10px;
  font-weight: bolder;
  font-size: 0.9rem;

  &.active {
    text-decoration: underline;
    text-decoration-color: $pge-blue;
  }

  &:hover {
    .nav__dropdown {
      display: block;
    }
  }
}

.nav__link {
  border: 1px solid $pge-blue;
  padding: 8px 16px;
}

.nav__item--mobile {
  font-size: 2rem;
  text-align: center;
}

.nav-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $pge-background-color;
  z-index: 999;
  padding-top: 200px;

  &.open {
    display: flex;
  }

  .nav__dropdown {
    display: block;
    position: relative;
    text-align: center;

    .nav__item {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1250px){
  .sticky-header {
    .nav__dropdown {
      padding: 10px 15px;
      background-color: white;
      top: 49px;
    }
    .nav__dropdown.Education {
      left: -25px;
    }
  }
}

.nav__dropdown {
  display: none;
  min-width: 100%;
  position: absolute;
  left: 0;
  z-index: 9999999999;
  padding-top: 16px;
  text-align: center;

  &.Education {
    left: -8px;
  }

  .nav__item {
    margin: 0;
    margin-bottom: 5px;
  }

  .nav__link {
    border: none;
    padding: 0;
    color: $pge-blue;
  }
}
