.page-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.page-banner__title {
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

.page-banner__line {
  margin-top: 30px;
}

.page-banner__title--incubator {
  font-size: 2.5rem;
}
