.person-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  z-index: 100;
  margin-bottom: 1.5rem;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (max-width: 600px) {
    width: 48%;
  }
}

.person-card__title {
  @include pge-title;
  font-size: 0.875rem;
  margin: 0.5rem 0;
  text-align: center;
}
