.resources-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.resources-list__item {
  display: flex;
  margin-bottom: 1rem;
}

.resources-list__item-date {
  display: inline-block;
}

.resources-list__item-link {
  color: $pge-grey;
  text-decoration: underline;
}
