.roadshow-table-row {
  margin-top: -2px;
  font-weight: 600;
}

.roadshow-table-row:first-child {
  margin-top: 0;
}

.roadshow-table-row--date {
  width: 200px;
}

.roadshow-table-row--event {
  margin-left: -2px;
}

.news-item > img {
  width: 100%;
  max-width: 300px;
}

.schedule-section h6 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
}