$subscribe-skew: 8;

.subscribe__wrapper {
  width: 100%;
  background-color: #FFFFFF;
}

.subscribe {
  width: 100%;
  max-width: 1000px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.subscribe__text {
  font-weight: 600;
  font-size: 1rem;
  color: $pge-grey;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe__input-wrapper {
  width: 100%;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.subscribe__input {
  background-color: #F2F2F2;
  outline: none;
  display: inline-block;
  width: 100%;
  padding: 10px 8px;
  font-size: 1rem;
  line-height: 1.5;
  color: $pge-grey;
  background-clip: padding-box;
  border: 0;

  &::placeholder {
    color: #AFAFAF;
  }
}

