.tab-bar {
  display: flex;
  justify-content: center;
}

.tab-bar__item {
  position: relative;
  white-space: nowrap;
  margin: 0 10px;
  font-weight: bolder;
  font-size: 0.9rem;
  color: $pge-grey;
  text-decoration: none;
  word-break: break-all;
  border: 3px solid $pge-grey;
  border-radius: 3rem;
  padding: 8px;
  opacity: 0.5;
  &.active {
    color: $pge-blue;
    border: 3px solid $pge-blue;
    opacity: 1;
  }
}
