.textblock {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  max-width: 800px;
}

.textblock__title {
  @include pge-title;
  margin-bottom: 0;
  margin-top: 0;
}
