h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: $pge-blue;
}

h1 {
  font-size: 2.5rem
}

h2 {
  font-size: 2rem
}

h3 {
  font-size: 1.75rem
}

h4 {
  font-size: 1.5rem
}

h5 {
  font-size: 1.25rem
}

h6 {
  font-size: 1rem
}

p {
  font-size: 1rem;
}

a {
  color: $pge-blue;
  text-decoration: none;
  word-break: break-all;
  &:hover {
    text-decoration: underline;
  }
}

.serif {
  font-family: 'Source Serif Pro', serif;
}

.sans-serif {
  font-family: 'Source Sans Pro', sans-serif;
}

.section-title {
  @include pge-title;
}

.section-title--white {
  color: #FFFFFF;
}

.fw-600 {
  font-weight: 600;
}

.small-text {
  font-size: 0.6rem;
}

.muted-text {
  color: #acacac;
}
