.list-style-none {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.overflow-hidden {
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.w50 {
  width: 50%;
}

.mb20 {
  margin-bottom: 20px;
}

.pa1 {
  padding: 0.5rem;
}

.pa2 {
  padding: 1rem;
}

.justify-space-evenly {
  justify-content: space-evenly!important;
}

.border-purple  {
  border: 2px solid $pge-purple;
}