.video-container {
  width: 100%;
  max-width: 800px;
}

.video-container--large {
  max-width: 1000px;
}

.video {
  overflow: hidden;
  position: relative;
  width:100%;
  padding: 1rem;
  background-color: rgba($pge-background-color-rgb, 0.2);
}

.video::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__content-wrapper {
  margin-bottom: 1rem;
  line-height: 1;
  padding-left: 200px;

  @media screen and ( max-width: 768px ) {
    padding-left: 100px;
  }
}

.video__title {
  font-family: 'Source Serif Pro', serif;
  font-weight: 900;
  font-size: 1.25rem;
  position: relative;
  z-index: 10;
  margin-bottom: 1rem;
}

.video__text {
  font-family: 'Source Serif Pro', serif;
  font-weight: 900;
  font-size: 0.8rem;
  color: #BDB1A8;
}

.video__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  padding: 0 10px;
  flex-wrap: wrap;
  text-align: center;
}

.video__button {
  font-family: 'Source Sans Pro', serif;
  color: #111111;
  cursor: pointer;
  &.active {
    text-decoration: underline;
    color: $pge-blue;
  }

  @media screen and (max-width: 400px) {
    width: 25%;
    margin-bottom: 20px;
  }
}
