<div class="container">
    <div class="row
    {% if include.reverse %}
    flex-row-reverse
    {% endif %}
    ">
        <div class="col-lg-7 col-12 pa1">
            <div class="pa1">
                <img src="{{ include.imagePath | prepend: site.baseurl }}">
            </div>
        </div>
        <div class="col-lg-5 col-12 pa1 d-flex flex-column justify-content-center">
            <div>
                <div class="section-title">
                    {{ include.title }}
                </div>
                <p>
                    {{ include.text }}
                </p>
                <a target="_blank" href="{{ include.buttonLink }}" class="button">{{ include.buttonText }}</a>
            </div>
        </div>
    </div>
</div>
