<div class="container">
    <div class="row">
        <div class="image-card__container">
            {% if page.year == 2024 %}
            {% for participant in site.incubator_companies_2024 %}
            <div class="image-card__item-wrapper incubator-2024 {{ participant.name }}">
                <div class="image-card__item image-card__item--logo">
                    <a class="image-card__item-link image-card__background"
                       href="{{ participant.url | prepend: site.baseurl }}"
                       style="background-image: url('{{ site.baseurl }}/assets/images/incubator_participants/{{ participant.logoPath }}');"></a>
                </div>
            </div>
            {% endfor %}
            {% elsif page.year == 2023 %}
            {% for participant in site.incubator_companies_2023 %}
            <div class="image-card__item-wrapper incubator-2023 {{ participant.name }}">
                <div class="image-card__item image-card__item--logo">
                    {% if participant.logoPath %}
                    <img class="image-card__image" src="{{ participant.logoPath | prepend: '/assets/images/incubator_participants/' | prepend: site.baseurl }}">
                    {% else %}
                    <p class="image-card__title">
                        {{ participant.company }}
                    </p>
                    {% endif %}
                    <a class="image-card__item-link" href="{{ participant.url | prepend: site.baseurl }}"></a>
                </div>
            </div>
            {% endfor %}
            {% elsif page.year == 2022 %}
            {% for participant in site.incubator_companies_2022 %}
            <div class="image-card__item-wrapper incubator-2022">
                <div class="image-card__item image-card__item--logo">
                    {% if participant.logoPath %}
                    <img class="image-card__image" src="{{ participant.logoPath | prepend: '/assets/images/incubator_participants/' | prepend: site.baseurl }}">
                    {% else %}
                    <p class="image-card__title">
                        {{ participant.company }}
                    </p>
                    {% endif %}
                    <a class="image-card__item-link" href="{{ participant.url | prepend: site.baseurl }}"></a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% for participant in site.incubator_companies_2021 %}
            <div class="image-card__item-wrapper">
                <div class="image-card__item image-card__item--logo">
                    {% if participant.logoPath %}
                    <img class="image-card__image" src="{{ participant.logoPath | prepend: '/assets/images/incubator_participants/' | prepend: site.baseurl }}">
                    {% else %}
                    <p class="image-card__title">
                        {{ participant.company }}
                    </p>
                    {% endif %}
                    <a class="image-card__item-link" href="{{ participant.url | prepend: site.baseurl }}"></a>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
