<div class="container mb-5">
    <div class="row container-padding">
        <div class="col-md-4 col-12 mt-3">
            <div class="d-flex flex-column serif">
                <div class="mb-3">
                    <div class="section-title mb-2">
                        Company
                    </div>
                    <div>
                        {{ page.company }}
                    </div>
                    {% if page.website %}
                        {% if page.website-label %}
                        <a target="_blank" href="{{ page.website }}">
                            {{ page.website-label }}
                        </a>
                        {% else %}
                        <a target="_blank" href="{{ page.website }}">
                            {{ page.website }}
                        </a>
                        {% endif %}
                    {% endif %}
                    {% if page.company2 %}
                    <div class="mt-3">
                        {{ page.company2 }}
                    </div>
                    {% if page.website %}
                    {% if page.website-label %}
                    <a target="_blank" href="{{ page.website2 }}">
                        {{ page.website-label2 }}
                    </a>
                    {% else %}
                    <a target="_blank" href="{{ page.website2 }}">
                        {{ page.website2 }}
                    </a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>

                {% if page.founder %}
                <div class="mb-3">
                    <div class="section-title mb-2">
                        Founder
                    </div>
                    <div>
                        {{ page.founder }}
                    </div>
                </div>
                {% endif %}

                {% if page.co-founder %}
                <div class="mb-3">
                    <div class="section-title mb-2">
                        Co-Founder
                    </div>
                    <div>
                        {{ page.co-founder }}
                    </div>
                </div>
                {% endif %}

                {% if page.focus-area %}
                <div class="mb-3">
                    <div class="section-title mb-2">
                        Focus Area
                    </div>
                    <div>
                        {{ page.focus-area }}
                    </div>
                </div>
                {% endif %}

                {% if page.socialMedia.size > 0 %}
                <div class="mb-3">
                    <div class="section-title mb-2">
                        Social Media
                    </div>
                    <div>
                        {% for socialMedia in page.socialMedia %}
                        <a class="icon-anchor" target="_blank" href="{{ socialMedia.url }}">{% include svg/{{ socialMedia.platform }}_grey.svg %}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
        <div class="col-md-8 col-12">
            {{ page.content }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="image-gallery w100">
            {% for image in site.static_files %}
                {% assign incubatorPath = 'incubator_participants/' | append: page.name | append: '/images' %}
                {% if image.path contains incubatorPath %}

                <div class="image-gallery__item-wrapper">
                    <div class="image-gallery__item">
                        <div class="image-gallery__bg-image" style="background-image: url('{{ '' | append: image.path | prepend: site.baseurl }}')">

                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
