<div class="resources-list">
    {% for resource in include.data %}
    <div class="resources-list__item">
        {% if resource.date != '' %}
        <div class="resources-list__item-date">{{ resource.date }}</div><span class="mx-1">-</span>
        {% endif %}
        <a class="resources-list__item-link" href="{{ resource.url }}">{{ resource.name }}</a>
    </div>
    {% endfor %}
</div>
