---
layout: default
title: PGE Incubator Demo Day 2021
permalink: /demo-day/
footer-bg: true
---

<div class="container section-medium">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center section">
                <div class="section-title">
                    25th March | 3 - 7pm | On Zoom
                </div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <a href="https://docs.google.com/forms/d/1V2H0q8UByDgCaqTMiKNbroc5KJDzttjif-PBrW7AURQ" target="_blank"
                   class="button">
                    Register Now
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container section-large">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="text-align-center">
                <div class="fw-600">
                    After 10 weeks Post Growth Entrepreneurship incubation, 12 startups will present their solutions and
                    you will be one the first people to find out how they will change the world.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container--fluid bg-white">
    <div class="container pt-5">
        <div class="row pt-2">
            <div class="col-12">
                <div class="d-flex flex-column align-items-center">
                    <div class="section-title mb-4">
                        Schedule
                    </div>
                    <div class="mb-4 text-align-center">
                        <div class="fw-600">
                            15:00 - 16:00
                        </div>
                        <div>
                            Introduction
                        </div>
                    </div>
                    <div class="mb-4 text-align-center">
                        <div class="fw-600">
                            16:00 - 17:00
                        </div>
                        <div>
                            Startup presentations - 2 parallel tracks
                        </div>
                    </div>
                    <div class="mb-4 text-align-center">
                        <div class="fw-600">
                            17:00 - 19:00
                        </div>
                        <div>
                            Networking party (optional)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include components/diagonal-section.html
position='left-bottom'
backgroundColor="bg-white"
%}

<div class="container-fluid pb-5 bg-light-blue">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="d-flex justify-content-center section">
                <div class="section-title">
                    Discover our Startups
                </div>
            </div>
            <div class="text-align-center">
                <div class="fw-600">
                    Co-emerge, Cooperativa de Energie, Crazy Initiatives, Dawn Child, In Our Nature, Meaningful Work,
                    MediaMessage, Moondance Brewing Company, The School of Nature, Sister Speaks, Sprylio, Tini Studio
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <a class="button" href="{{ '/incubator' | prepend: site.baseurl }}">
                    Meet the Startups
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pb-5 bg-light-blue">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="p-3 bg-white">
                    <img class="image-card__image d-flex"
                         src="{{ '/assets/images/demo-day/video-call.png' | prepend: site.baseurl }}">
                </div>
            </div>
        </div>
    </div>
</div>

