---
layout: default
title: About Us
permalink: /about-us/
footer-bg: true
footer-diagonal-left-bottom: true
---

<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex w100 justify-content-center align-items-center flex-column">
                <div class="textblock">
                    <h2 class="textblock__title">
                        Who are we?
                    </h2>
                    <p>
                        Nonprofit Ventures is dedicated to supporting the Post-Growth Entrepreneurial community.
                    </p>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="non-profit-ventures-logo">
                            {% include svg/non_profit_ventures_logo.svg %}
                        </div>
                    </div>
                </div>
                <div class="textblock mb-0" style="max-width: 750px">
                    <h2 class="textblock__title mb-3">
                        We do so by:
                    </h2>
                    <ol class="p-0 m-0">
                        <li class="mb-3">
                            Supplying academic materials to universities and business schools
                        </li>
                        <li class="mb-3" style="word-break: keep-all">
                            Organising events, community, and mentoring for (aspiring) post-growth entrepreneurs
                        </li>
                        <li class="mb-3">
                            Training existing businesses and charities to co-create the PGE ecosystem
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-6">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="d-flex justify-content-center w100">
                        <div class="d-flex flex-wrap align-items-start justify-content-center" style="max-width: 1100px">
                            {% for person in site.data.about-us.people %}
                            <div class="person-card">
                                <img src="{{ person.imagePath | prepend: site.baseurl }}"
                                     alt="{{ person.name }}">
                                <span class="person-card__title">{{ person.name }}</span>
                                <span class="person-card__social-icons">
                                <span class="person-card__icon">
                                    <a target="_blank" href="{{ person.linkedinUrl }}">{% include svg/linkedin_large.svg %}</a>
                                </span>
                            </span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
