---
layout: default
title: PGE Bootcamp
permalink: /bootcamp/
footer-bg: true
---

<div class="container">
    <div class="row">
        <div class="col-10 offset-1 section-medium">
            <p class="px-3 text-align-center">
                The PGE bootcamp is a one week retreat that helps founders to design and launch Post Growth startups.
                The most recent PGE bootcamp was in March 2020 on the Dutch island of Terschelling.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 section-medium">
            <div class="d-flex w100 justify-content-center">
                <div class="pa2" style="background-color: #D4DAE3">
                    <img src="{{ '/assets/images/bootcamp/bootcamp.png' | prepend: site.baseurl }}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 section-medium">
            <p class="px-3 text-align-center">
                Download our photo slideshow of the entire 5 days
            </p>
            <div class="d-flex align-items-center flex-column mt-3">
                <div>
                    <a class="button" target="_blank"
                       href="{{ '/assets/documents/20201022-CodemotionOnline.pdf' | prepend: site.baseurl }}">
                        Download Slideshow
                    </a>
                </div>
                <div class="small-text muted-text">21MBs</div>
            </div>
        </div>
    </div>
</div>

{% include components/diagonal-section.html
position='left-bottom'
%}
