---
layout: default
title: PGE Incubator
permalink: /cohort/
footer-bg: true
---

<div class="container">
    <div class="text-align-center pt-3 pb-5">
        <p style="text-align: center; max-width: 1100px; margin: 0 auto">
            The Post Growth Incubator is an 10-week program for social entrepreneurs who want to apply Post Growth Entrepreneurship to their startups.
        </p>
    </div>
</div>

<div class="container my-5">
    {% include components/incubator-cards.html %}
</div>

{% include components/diagonal-section.html
position='left-bottom'
%}
