---
layout: default
title: PGE Incubator Demo Day 2024
permalink: /demo-day/
footer-bg: true
---

<div class="container section">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="section-title">
                    19th December 2024  |  Zoom
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="text-align-center">
                <div class="fw-600 m-auto" style="max-width:750px;">
                    Join us as the startups from the PGE Incubator Program 2024 present their innovative ideas!
                    After 9 weeks of Post Growth Entrepreneurship incubation, 14 startups will present their solutions.<br /><br />
                    Hosted by Nonprofit Ventures and led by Melanie Rieback, this Demo Day is the
                    culmination of months of hard work, creativity, and mentorship. It’s your chance to
                    witness the next wave of mission-driven ventures shaping a better future. Find out how
                    they will change the world.
                </div>
                <div class="d-flex justify-content-center mt-4 mb-5">
                    <a style="min-width:150px;display:inline-block;" class="button" target="_blank" href="https://www.eventbrite.nl/e/pge-incubator-demo-day-2024-tickets-1097455020509?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl">
                        RSVP
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container-fluid pb-5 pt-5 bg-white">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="d-flex justify-content-center section">
                    <div class="section-title">
                        Schedule
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-12 text-align-center mb-4 px-4">
                        <div class="fw-600">
                            15:00 - 15:30
                        </div>
                        Introduction
                    </div>
                    <div class="col-lg-4 col-sm-12 text-align-center mb-4 px-4">
                        <div class="fw-600">
                            15:30 - 17:00
                        </div>
                        Start-up Presentations
                    </div>
                    <div class="col-lg-4 col-sm-12 text-align-center px-4">
                        <div class="fw-600">
                            17:00 - 18:00
                        </div>
                        Networking (optional)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

