---
layout: default
title: PGE Incubator Cohort 2021
permalink: /demo-day-cohort-2021/
footer-bg: true
---

<div class="container section">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="section-title">
                    Demo Day: 25th March
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="text-align-center">
                <div class="fw-600">
                    After 10 weeks Post Growth Entrepreneurship incubation, 12 startups presented their solutions. Find
                    out how they will change the world.
                </div>
            </div>
        </div>
    </div>
</div>

<div id="youTubeVideoContainer" style="position: relative; display: none">
    {% include components/diagonal-section.html
    position='left-bottom'
    backgroundColor="bg-light-blue"
    %}
    <div class="bg-light-blue" style="padding-bottom: 150px"></div>

    <div class="container-fluid" id="testing" style="position:absolute; bottom: 4rem;">
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-center w100">
                <div class="video-container video-container--large">
                    <div class="video bg-light-grey">
                        <iframe id="youTubeIframe" class="video" type="text/html" src="https://www.youtube.com/embed/ZeUReB0FRb8"
                                allowfullscreen="allowfullscreen" width="100%" height="100%"
                                frameborder="0"></iframe>
                    </div>
                </div>
                <script>
                    function initYoutubeContainer() {
                        var youtubeVideoContainer = document.getElementById('youTubeVideoContainer');
                        youtubeVideoContainer.style.display = 'block';

                        var viewportWidth10 = (window.innerWidth * 0.10);
                        var paddingTop = viewportWidth10 + 30;

                        if (window.innerWidth < 768) {
                            paddingTop = viewportWidth10 + 70;
                        }

                        var videoHeight = youtubeIframe.clientHeight - paddingTop;
                        youtubeVideoContainer.style.paddingTop = videoHeight + 'px';
                    }

                    window.onresize = function () {
                        initYoutubeContainer();
                    }

                    var youtubeIframe = document.getElementById('youTubeIframe');
                    youtubeIframe.onload = function() {
                        initYoutubeContainer();
                    };
                </script>
            </div>
        </div>
    </div>
</div>

<div class="container1">
    <div class="container-fluid pb-5 pt-5 bg-white">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="d-flex justify-content-center section">
                    <div class="section-title">
                        Discover our Startups
                    </div>
                </div>
                <div class="text-align-center">
                    <div class="fw-600">
                        Co-emerge, Cooperativa de Energie, Crazy Initiatives, Dawn Child, In Our Nature, Meaningful
                        Work,
                        MediaMessage, Moondance Brewing Company, The School of Nature, Sister Speaks, Sprylio, Tini
                        Studio...AND MORE!
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <a class="button" href="{{ '/incubator' | prepend: site.baseurl }}">
                        Find out more
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include components/diagonal-section.html
    position='left-bottom'
    backgroundColor="bg-white"
    %}
</div>

<div class="container-fluid pb-5 bg-light-blue container1-content">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="p-3 bg-light-grey">
                    <img class="image-card__image d-flex"
                         src="{{ '/assets/images/demo-day/video-call.png' | prepend: site.baseurl }}">
                </div>
            </div>
        </div>
    </div>
</div>
