---
layout: default
title: Get Involved
permalink: /get-involved/
footer-bg: true
---

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section d-flex justify-content-center">
                {% include components/image-text-card.html
                title='PGE Bootcamp'
                text='PGE Bootcamp is an opportunity for social entrepreneurs, innovators and creatives to dive right into it.'
                buttonText='Register'
                buttonLink='https://docs.google.com/forms/d/1_Fw5vlDYSl2dZfdsyFscJ-vzIo-v3PqXFBNFV7C7FlM/viewform?edit_requested=true'
                imagePath='/assets/images/get-involved/image4.jpg'
                %}
            </div>

            <div class="section d-flex justify-content-center">
                {% include components/image-text-card.html
                title='Brainstorming sessions and Training'
                text='Curious how PGE can be incorporated into your current business? Or how your new idea would look as a Post Growth company?'
                buttonText='Let’s talk!'
                buttonLink='mailto: support@nonprofit.ventures'
                imagePath='/assets/images/get-involved/image3.jpg'
                reverse=true
                %}
            </div>

            <div class="section d-flex justify-content-center">
                {% include components/image-text-card.html
                title='Learning'
                text='We piloted a course at the free university of Amsterdam, which is now worth 6ECTS as an internship'
                buttonText='Find out more'
                buttonLink='https://www.entrepreneurshipaspractice.com/post-growth-ent'
                imagePath='/assets/images/get-involved/image5.jpg'
                %}
            </div>
        </div>
    </div>
</div>

{% include components/diagonal-section.html
position='left-bottom'
%}

<div class="container-fluid bg-light-blue" style="padding-bottom: 100px; padding-top: 20px">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center flex-column w100">
                <div class="section-title section-title--white">
                    Do you have any ideas? Are you interested in volunteering?
                </div>
                <p>Tell us what you want do to get involved.</p>
                <a href="mailto:support@nonprofit.ventures" class="button mb20">
                    Email Us
                </a>
                <a target="_blank" href="https://www.linkedin.com/company/post-growth-entrepreneurship" class="button">
                    Join the conversation on our LinkedIn group
                </a>
            </div>
        </div>
    </div>
</div>
