---
layout: default
metatitle: Business is one of the most effective forms of activism. Business is one of the most expressive forms of art.
title: '<span style="display:inline-block;max-width:900px;">Business is one of the most effective forms of activism.<br /> Business is one of the most expressive forms of art.</span>'
permalink: /
footer-bg: true
---


{% include components/diagonal-section.html
position='right-bottom'
height=400
%}
<div class="container-fluid bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12 pa1">
                <div class="graphic-number graphic-number--01 graphic-number--white">
                    <div class="pa1" style="background-color: #EDEDE7">
                        {% include svg/svm-pge-graphic-padding.svg %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 pa1">
                <div class="d-flex h100 flex-column justify-content-center">
                    <p class="mt-0 pr-5">
                        Post Growth Entrepreneurship (PGE) reframes business as a form of activism, art, spirituality,
                        and
                        creative expression. This business model embraces flat growth curves and rejects the need for
                        investors, scaling, and exits. PGE questions entrepreneurial "common wisdom" and re-envisions
                        business as a vehicle for pure positive impact.
                    </p>
                    <div>
                        <a href="{{ '/learn-more' | prepend: site.baseurl }}" class="button">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include components/diagonal-section.html
position='right-top'
height=400
%}


<div class="container mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-12 pa1">
                <div class="graphic-number graphic-number--02 graphic-number--light-blue">
                    <div class="pa1" style="background-color: #D4DAE3">
                        <img style="width: 100%" src="{{ '/assets/images/home/image1.jpg' | prepend: site.baseurl }}">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 pa1">
                <div class="d-flex h100 flex-column justify-content-center">
                    <p class="mt-0 pr-5">
                        PGE is a rewarding movement.
                        It is our chance to make a meaningful
                        impact both to our society and the planet.
                        If this inspires you, we'd love to have
                        you on the team.
                    </p>
                    <div>
                        <a href="{{ '/get-involved' | prepend: site.baseurl }}" class="button">Get involved</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
