---
layout: default
title: PGE Incubator 2024
permalink: /incubator/
footer-bg: true
---

<div class="container">
    <div class="text-align-center pt-3 pb-5">
        <p style="max-width: 850px; margin: 0 auto">
            The Post Growth Incubator is a free, 8-week program designed for social entrepreneurs eager to
            integrate Post Growth Entrepreneurship principles into their startups. Participants will receive expert
            mentorship from Dr. Melanie Rieback, guiding them to create impactful and sustainable ventures.
        </p>
        <div class="pt-4">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScOw2ICBQr5C70I7VoE9S0sVhg_9zeQtz3JUEFgGXVJT27jjg/viewform" target="_blank" class="button">
                Register
            </a>
        </div>
    </div>
</div>
<div class="container-fluid bg-white" style="margin-bottom:-210px;padding-bottom:260px;">
    <div class="row pb-5 pt-5">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 pb-4">
                        <div class="d-flex justify-content-center section pt-5">
                            <div class="section-title">
                                Discover our previous years startups
                            </div>
                        </div>
                        <div class="text-align-center col-lg-8 offset-lg-2">
                            Co-emerge, Cooperativa de Energie, Crazy Initiatives, Dawn Child, In Our Nature, Meaningful
                            Work, MediaMessage, Moondance Brewing Company, The School of Nature, Sister Speaks, Sprylio,
                            Tini Studio... AND MORE!
                        </div>
                        <div class="d-flex justify-content-center mt-4 pb-sm-5">
                            <a class="button" href="{{ '/cohort' | prepend: site.baseurl }}">
                                Find out more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include components/diagonal-section.html position='left-bottom'%}
<div class="container-fluid pb-5 bg-light-blue">
    <div class="row">
        <div class="col-12">
            <style>
                .footer-image {
                    margin-top: -300px;
                }
                @media screen and (max-width: 768px) {
                    .footer-image {
                        margin-top: 0;
                    }
                }
            </style>
            <div class="d-flex w100 justify-content-center footer-image">
                <img src="{{ '/assets/images/train-the-trainers/train-the-trainers.png' | prepend: site.baseurl }}">
            </div>
        </div>
    </div>
</div>
