---
layout: default
title: Learn More
permalink: /learn-more/
footer-bg: true
footer-diagonal-right-bottom: true
---

<div class="container" style="padding-bottom: 150px">
    <div class="row">
        <div class="col-12 section">
            <div class="d-flex flex-column align-items-center">
                <div class="section" style="max-width: 80%">
                    {% include svg/svm-pge-graphic.svg %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include components/diagonal-section.html
position='right-bottom'
height=400
%}
<div class="container-fluid bg-light-blue video1-container">
    <div class="pt-2 container-padding">
        <div class="row" style="padding: 10px 0;">
            <div class="col-12 d-flex flex-column align-items-center w100 video1-content">
                <div class="video-container">
                    <div class="graphic-number graphic-number--video graphic-number--01 graphic-number--white-trans">
                        <div class="video__content-wrapper">
                            <div class="video__title">
                                TEDx Berlin
                            </div>
                            <div class="video__text">
                                Duration: Approx. 18:38
                            </div>
                        </div>
                    </div>
                    <div class="video">
                        <iframe class="video" type="text/html" src="https://www.youtube.com/embed/uW8umQWXFIM"
                                allowfullscreen="allowfullscreen" width="100%" height="100%"
                                frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light-blue video2-before-line"></div>
{% include components/diagonal-section.html
position='right-top'
height=400
%}

<div class="container-fluid">
    <div class="pt-2">
        <div class="row" style="padding: 10px 0;">
            <div class="col-12 d-flex flex-column align-items-center w100 video2-content">
                <div class="video-container">
                    <div class="graphic-number graphic-number--video graphic-number--02 graphic-number--white-trans">
                        <div class="video__content-wrapper">
                            <div class="video__title">
                                Bord & Stift
                            </div>
                            <div class="video__text">
                                Duration: Approx. 03:17
                            </div>
                        </div>
                    </div>
                    <div class="video">
                        <iframe class="video" type="text/html" src="https://www.youtube.com/embed/BHR2py46co4"
                                allowfullscreen="allowfullscreen" width="100%" height="100%"
                                frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="video3-before-line"></div>

<div class="container-fluid">
    <div class="pt-2">
        <div class="row" style="padding: 10px 0;">
            <div class="col-12 d-flex flex-column align-items-center w100 video3-content">
                <div class="video-container">
                    <div class="graphic-number graphic-number--video graphic-number--03 graphic-number--white-trans">
                        <div class="video__content-wrapper">
                            <div class="video__title">
                                PGE in Tuschinski
                            </div>
                            <div class="video__text">
                                Duration: Approx. 01:13:17
                            </div>
                        </div>
                    </div>
                    <div class="video">
                        <iframe class="video" type="text/html" src="https://www.youtube.com/embed/NZmCkxCUhFw"
                                allowfullscreen="allowfullscreen" width="100%" height="100%"
                                frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-5 pt-5">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="d-flex justify-content-center section mb-5">
                    <div class="section-title">
                        Read more on Medium
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-12 text-align-center mb-4 px-4">
                        <a href="https://medium.com/post-growth-entrepreneurship/the-myth-of-silicon-valley-1bd89b77d949" target="_blank" class="text-button">The Myth of Silicon Valley</a>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-align-center mb-4 px-4">
                        <a href="https://medium.com/postgrowth/putting-post-growth-theory-into-practice-70033f334088" target="_blank" class="text-button">Putting Post Growth Theory Into Practice</a>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-align-center px-4">
                        <a href="https://medium.com/post-growth-entrepreneurship/making-business-personal-39280c5dcb4d" target="_blank" class="text-button">Making Business Personal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
