---
layout: default
title: PGE Roadshow
permalink: /pge-roadshow/
footer-bg: true
---

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12 mb-3">
            <p class="text-align-center mt-0">
                The PGE roadshow has officially kicked off!<br /><br />
                We want to spread knowledge about <a href="/learn-more/" target="_blank">Post Growth Entrepreneurship</a> (and Non-Extractive Finance) to every business school and startup (impact) incubator!<br /><br />

                You still have the opportunity to bring the roadshow to you! We are on the look out for hosts who can organize a guest lecture and/or event to be delivered by Dr. Melanie Rieback.<br /><br />

                If you would like to host us and bring Post Growth Entrepreneurship to your business school or incubator, fill out the application form below.
            </p>
            <div class="text-align-center pt-3 mb-3">
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeEKGw5xdUhCXzfMup5Oahmtb6Czws0Ue-8eRkRUPmUgoelEA/viewform" class="button">Apply now</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-12">
            <h1 class="section-title text-align-center mt-4 mb-4">Events</h1>
            <div class="text-align-center" style="background-color:#D4DAE3;padding:24px;width:100%;">
                <script id="timely_script" class="timely-script" src="https://events.timely.fun/embed.js" data-src="https://events.timely.fun/klaql2eq/?range=custom&start_date=2024-02-01" data-max-height="0" ></script>
            </div>
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="col-lg-10 offset-lg-1 col-12 pt-5 mb-5">-->
<!--            <h1 class="page-banner__title">Updates</h1>-->
<!--            <div class="row justify-content-center mt-4">-->
<!--                <div class="col-lg-4 col-sm-12 text-align-center mb-4 px-2 news-item">-->
<!--                    <img src="{{ '/assets/images/pge-roadshow/amsterdam-business-school.png' | prepend: site.baseurl }}" class="mb-2 d-inline-block" />-->
<!--                    <div class="w100 text-align-center">AMSTERDAM BUSINESS SCHOOL</div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-12 text-align-center mb-4 px-2 news-item">-->
<!--                    <img src="{{ '/assets/images/pge-roadshow/european-commision.png' | prepend: site.baseurl }}" class="mb-2 d-inline-block" />-->
<!--                    <div class="w100 text-align-center">EUROPEAN COMMISSION RESEARCH & INNOVATION</div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-12 text-align-center mb-4 px-2 news-item">-->
<!--                    <img src="{{ '/assets/images/pge-roadshow/roadshow.png' | prepend: site.baseurl }}" class="mb-2 d-inline-block" />-->
<!--                    <div class="w100 text-align-center">ROADSHOW GEOGRAPHICAL CLUSTERS</div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-12 text-align-center mb-4 px-2 news-item">-->
<!--                    <img src="{{ '/assets/images/pge-roadshow/workish-berlin.png' | prepend: site.baseurl }}" class="mb-2 d-inline-block" />-->
<!--                    <div class="w100 text-align-center">WORKISH BERLIN</div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-12 text-align-center mb-4 px-2 news-item">-->
<!--                    <img src="{{ '/assets/images/pge-roadshow/foss-backstage.png' | prepend: site.baseurl }}" class="mb-2 d-inline-block" />-->
<!--                    <div class="w100 text-align-center">FOSS BACKSTAGE</div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-sm-12 text-align-center mb-4 px-2 news-item">-->
<!--                    <img src="{{ '/assets/images/pge-roadshow/aurora-live.png' | prepend: site.baseurl }}" class="mb-2 d-inline-block" />-->
<!--                    <div class="w100 text-align-center">AURORA LIVE</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12 mt-5">
            <h1 class="section-title text-align-center mt-4">Schedule</h1>
            <p class="text-align-center">
                This is a rough indication of where the PGE Roadshow will be headed throughout the year.
                These geographical clusters will be updated as time goes on.
            </p>
            <img src="{{ '/assets/images/pge-roadshow/pge-roadshow-map.png' | prepend: site.baseurl }}" class="mb-4 mt-4 d-inline-block" />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-8 offset-lg-2 col-12">
            <div class="d-flex align-items-center mb-5 pa2 bg-white schedule-section mb-5">
                <div class="w50 pr-2">
                    <h6 class="mb-1 mt-0">Jan - Feb: W Eur (NL, BE)</h6>
                    <h6 class="mb-1 mt-0">Mar: W Eur (DE, GB)</h6>
                    <h6 class="mb-1 mt-0">Apr: W Eur (FI, PT)</h6>
                    <h6 class="mb-1 mt-0">May: C Eur (AT, ES, HR, TR)</h6>
                    <h6 class="mt-0 mb-0">June: C Eur (SL) + AIPAC (JA, AU)</h6>
                </div>
                <div class="w50 pl-2">
                    <h6 class="mb-1 mt-0">Jul - AIPAC (KS)</h6>
                    <h6 class="mb-1 mt-0">Aug: W Eur (CH) + Americas (US)</h6>
                    <h6 class="mb-1 mt-0">Sept: W Eur (CH, DK, DE)</h6>
                    <h6 class="mb-1 mt-0">Oct - Nov: Americas (CA, US)</h6>
                    <h6 class="mt-0 mb-0">Dec: TBD</h6>
                </div>
            </div>
        </div>
    </div>
</div>
