---
layout: default
title: PGE @ University of Amsterdam
permalink: /pge-class/
footer-bg: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex w100 justify-content-center align-items-center flex-column">
                <div class="textblock">
                    <h2 class="textblock__title">
                        Post Growth Entrepreneurship class launched at the University of Amsterdam in Jan-Feb 2023.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12 section-medium">
            <div class="d-flex w100 justify-content-center">
                <div class="pa2" style="background-color: #D4DAE3;max-width:80%;">
                    <img src="{{ '/assets/images/pge-class/pge-class.png' | prepend: site.baseurl }}"/>
                </div>
            </div>
            <div class="text-align-center pt-5">
                <a target="_blank" href="https://coursecatalogue.uva.nl/xmlpages/page/2023-2024-en/search-course/course/112127" class="button">Course Catalogue</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-light-blue" style="position:relative;">
    <div class="container pt-2">
        <div class="row" style="padding: 10px 0;">
            <div class="col-12 d-flex flex-column align-items-center w100">
                <div class="video-container">
                    <div class="video__buttons mt-5 mb-4">
                        {% for video in site.data.pge-class.pge-workshop %}
                        <div class="video__button pge-workshop-buttons" onclick="setUrlInIframe('{{ video.url }}', '{{ forloop.index0 }}')">{{ video.title }}</div>
                        {% endfor %}
                    </div>
                    <div class="video">
                        <iframe id="pge-workshop" class="video" type="text/html" src="https://www.youtube.com/embed/Irc9o8ttpI8"
                                allowfullscreen="allowfullscreen" width="100%" height="100%"
                                frameborder="0"></iframe>
                    </div>
                    <p class="text-align-center pt-3">These videos are licensed under Creative Commons (CC BY-SA 4.0)</p>
                    <div class="d-flex flex-column text-align-center pt-3 pb-5 m-auto" style="max-width:300px;">
                        <a target="_blank" href="https://www.youtube.com/playlist?list=PL14vcCXv7XVONAwzNv0ApYwZ5iepLzz3S" class="button mb-3">View Full Playlist</a>
                        <a target="_blank" href="https://nonprofit.ventures/assets/documents/uva-pge-class-final.pdf" class="button">Download Slide Deck</a>
                    </div>
                </div>
            </div>
            <script>
                var pgeWorkshopIframe = document.getElementById('pge-workshop');

                function setActiveButton(buttonIndex) {
                    var buttons = document.getElementsByClassName('pge-workshop-buttons');
                    for (var i = 0; i < buttons.length; i++) {
                        var button = buttons[i];
                        if (i === buttonIndex) {
                            button.classList.add('active');
                        } else {
                            button.classList.remove('active');
                        }
                    }
                }
                setActiveButton(0)

                function setUrlInIframe(url, buttonIndex) {
                    setActiveButton(parseInt(buttonIndex, 10))
                    pgeWorkshopIframe.setAttribute('src', url + '?autoplay=1');
                }
            </script>
        </div>
    </div>
</div>

