---
layout: default
title: Resources
permalink: /resources/
footer-bg: true
---

<script>
    function scrollToAnchor(identifier) {
        var anchor = document.querySelector(identifier);
        anchor.scrollIntoView({
            behavior: 'smooth',
            block: 'center',
        });
    }
</script>

<div style="padding-top: 400px"></div>
{% include components/diagonal-section.html
position='left-bottom'
%}
<div class="container-fluid bg-light-blue">
    <div class="container">
        <div class="row">
            <div class="col-12" style="margin-top: -400px">
                <div id="videos" class="section">
                    <div class="section-title mb-2">
                        Videos
                    </div>
                    {% include components/resources-list.html
                    data=site.data.resources.videos
                    %}
                </div>

                <div id="podcasts" class="section">
                    <div class="section-title mb-2">
                        Podcasts
                    </div>
                    {% include components/resources-list.html
                    data=site.data.resources.podcast
                    %}
                </div>

                <div id="articles" class="section">
                    <div class="section-title mb-2">
                        Articles
                    </div>
                    {% include components/resources-list.html
                    data=site.data.resources.articles
                    %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light-blue" style="padding-bottom: 100px; padding-top: 20px">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center flex-column w100">
                <div class="section-title section-title--white">
                    Do you have any ideas? Are you interested in volunteering?
                </div>
                <p>Tell us what you want do to get involved.</p>
                <a href="mailto:support@nonprofit.ventures" class="button mb20">
                    Email Us
                </a>
                <a target="_blank" href="https://www.linkedin.com/company/post-growth-entrepreneurship" class="button">
                    Join the conversation on our LinkedIn group
                </a>
            </div>
        </div>
    </div>
</div>
