---
layout: default
title: Services
permalink: /services/
footer-bg: true
---

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-12 mb-3">
            <p class="text-align-center">
                We offer a variety of consultancy services, online or on-location
                (in accordance with COVID-19 guidelines)
            </p>
        </div>
    </div>
    <div class="row">
            <div class="col-12 mb-5">
                <div class="d-flex w100 justify-content-center footer-image">
                    <div class="pa2" style="background-color: #FFFFFF">
                        <img src="{{ '/assets/images/services/services.png' | prepend: site.baseurl }}"/>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-12">
            <div class="d-flex align-items-center flex-column">
                <div class="textblock">
                    <h2 class="textblock__title">
                        Mentoring
                    </h2>
                    <p>
                        Advice and guidance for
                        (aspiring) startup founders
                    </p>
                </div>
                <div class="textblock">
                    <h2 class="textblock__title">
                        Workshops
                    </h2>
                    <p>
                        Post Growth Entrepreneurship trainings
                        for companies and organisations
                    </p>
                </div>
                <div class="textblock">
                    <h2 class="textblock__title">
                        Incubation as a Service
                        & Venture Generation
                    </h2>
                    <p>
                        Helping organisations and TTOs to create
                        Post Growth startups or spinoffs
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pb-5 bg-light-blue">
    <div class="row">
        <div class="col-12">
            <h1 class="page-banner__title">Customers</h1>
            <p class="text-align-center">Here are a few of our customers.</p>
            <div class="d-flex w100 justify-content-center">
                <div class="pa2">
                    <img src="{{ '/assets/images/services/customer-logos-services.png' | prepend: site.baseurl }}"/>
                </div>
            </div>
        </div>
    </div>
</div>
