---
layout: default
title: Train the Trainers
permalink: /train-the-trainers/
footer-bg: true
---

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex w100 justify-content-center align-items-center flex-column">
                <div class="textblock mb-0">
                    <h2 class="textblock__title">
                        The Train the Trainers program was run in 2023. The course gave a thorough background on
                        PGE principles and also detailed effective ways to incorporate these into a variety of ventures.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12 section-medium">
            <div class="d-flex w100 justify-content-center align-items-center flex-column">
                <div class="textblock">
                    <p class="fw-600">
                        More than 80 participants from all over the world registered for this
                        10-week course. The course is not planned to run in 2024.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

