---
layout: incubator_participant
name: braver_love_media
title: Braver Love Media
banner: 'image'
logoPath: 'braver_love_media/logo.png'
company: Braver Love Media
founder: Yuko Kudo
focus-area: Creative | Media & Communication | Community
country:
website:
socialMedia: [
{
    platform: 'instagram',
    url: 'https://www.instagram.com/braverlovemedia/'
},
]
---

<strong class="mb-2">Braver Love Media</strong>
<p style="word-break:keep-all;">
    Braver Love Media is dedicated to the art of storytelling. They believe that art is a
    universal language that connects and speaks to the essence of being human. Specializing in Media &
    Production support, Braver Love Media is committed to ethical storytelling that empowers
    individuals by amplifying their voices and sharing their unique perspectives. Through their work,
    they aim to inspire understanding, empathy, and connection across diverse communities.
</p>

<strong class="mb-2">Yuko Kudo</strong>
<p style="word-break:keep-all;">
    Yuko Kudo is a Japanese-born, multi-dimensional artist based in New York who uses art and storytelling
    as powerful tools to build community and remind people they are never alone. With a passion for
    fostering connection, she facilitates collaborative educational spaces at the intersection of art
    and activism, encouraging dialogue and collective action.<br /><br />

    As the Executive Producer of the documentary series Untapped Storytellers and the short film Dear
    Asian Girls, Yuko focuses on addressing Asian representation in arts and culture, bringing often-overlooked
    narratives to the forefront. Her work is deeply personal and transformative, informed by her
    journey as a brain injury survivor, which has shaped her commitment to resilience,
    representation, and creating spaces where every voice matters.<br /><br />

    Through her art and advocacy, Yuko Kudo continues to inspire and empower others to share their stories
    and embrace the strength in their unique journeys.<br /><br />
</p>
