---
layout: incubator_participant
name: d_ali
title: d’Ali
banner: 'image'
logoPath: 'd_ali/logo.png'
company: d’Ali
founder: Yunus Erduran
focus-area: Educational Technology | Climate and Environmental Sustainability | New Economies/Business Models
country:
website:
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/in/yunuserduran/'
},
]
---

<strong class="mb-2">d’Ali</strong>
<p style="word-break:keep-all;">
    The Digital Game Box is an innovative educational tool designed for children aged 10–14,
    teaching them about the climate crisis through interactive digital gameplay and hands-on science experiments.
    By integrating the global science curriculum in an engaging and practical way, the game connects
    directly to children’s real-life experiences, offering a hybrid approach to learning that
    bridges the gap between digital and hands-on education.
</p>
<p style="word-break:keep-all;">
    This revolutionary project features mini-games and subject-specific science experiments,
    creating a comprehensive and immersive learning experience. Currently in its feasibility phase,
    the team has begun developing a small-scale prototype to demonstrate the concept and test its effectiveness.
    Early user feedback from educators, families, and children in Switzerland and beyond will shape the next
    steps, with a playable demo or finalized prototype expected by early 2025.
</p>

<strong class="mb-2">Yunus Erduran</strong>
<p style="word-break:keep-all;">
    Yunus Erduran is a seasoned researcher and social entrepreneur with over 14 years of
    experience in founding impact-driven startups in Türkiye. His career began in corporate
    marketing and sales but quickly transitioned to entrepreneurship, where his passion for
    creating societal value flourished.<br /><br />

    Yunus founded initiatives like Yetenek Akademisi and Eğlenceli Bilim ("Science Made Fun"), the latter
    of which has reached over 400,000 students across Türkiye with hands-on science education programs.
    His work demonstrates a deep commitment to fostering curiosity, critical thinking, and scientific
    literacy among young learners.<br /><br />

    Since moving to Lausanne, Switzerland, 10 years ago, Yunus has focused on expanding his impact globally.
    His latest venture is a hybrid EdTech innovation, the Digital Game Box, which combines digital and
    hands-on learning to address critical socio-scientific issues like the climate crisis and sustainability.
    Through this initiative, Yunus aims to bring his expertise in science education to a global audience,
    inspiring the next generation to engage with and solve the challenges of our time.<br /><br />
</p>
