---
layout: incubator_participant
name: flora_consultoria
title: Flora Consultoria
banner: 'image'
logoPath: 'flora_consultoria/logo.png'
company: Flora Consultoria
founder: Letícia Lenzi Bressiani and Verônica Manguinho
focus-area: HR
country:
website: https://www.floraconsultoria.com/
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/floraconsultoria'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/floraconsultoriarh/'
},
]
---

<strong class="mb-2">Flora Consultoria</strong>
<p style="word-break:keep-all;">
    Flora Consultoria is an HR consulting firm specializing in executive search, leadership
    development, and organizational transformation. With a focus on driving social and environmental
    positive impact, Flora partners with leaders and organizations to guide them toward regeneration.
    By fostering meaningful connections and innovative interactions, Flora addresses some of the most
    critical challenges of our time, creating lasting value for both people and the planet.
</p>

<strong class="mb-2">Donna Stimson</strong>
<p style="word-break:keep-all;">
    Letícia, founder of Flora Consultoria, brings over 17 years of HR and leadership development
    experience. She has held roles at Fesa Group, Thinkseg Group, and Natura & Co, where she led executive
    hiring and talent strategies across Latin America. A Career Coach and Mentor since 2014, Letícia combines
    her expertise in talent development and organizational transformation to help leaders and organizations
    embrace regenerative practices.
</p>

<strong class="mb-2">Verônica</strong>
<p style="word-break:keep-all;">
    Verônica is an experienced HR executive with over 20 years in multinational companies like Natura & Co,
    Sodexo, and Citroën. Specializing in leadership and organizational development, she is also an Associate
    Consultant at Bio Leadership UK and a Guest Lecturer at Fundação Dom Cabral. Verônica’s work focuses on
    fostering sustainable leadership and driving positive impact through innovative HR strategies.
</p>
