---
layout: incubator_participant
name: green_skills_library
title: Green Skills Library
banner: 'image'
logoPath: 'green_skills_library/logo.png'
company: Green Skills Library
founder: Donna Stimson
focus-area: Marketing
country:
website: https://greenskillslibrary.com/
socialMedia: [
{
    platform: 'facebook',
    url: 'https://www.facebook.com/greenskillslibrary'
},
{
    platform: 'instagram',
    url: 'https://www.instagram.com/greenskillslibrary/'
},
]
---

<strong class="mb-2">Green Skills Library</strong>
<p style="word-break:keep-all;">
    Green Skills Library is a Community Interest Company (CIC) dedicated to teaching sustainable skills,
    including sewing, upholstery, woodwork, and gardening, using donated materials. Aligned with the United
    Nations Sustainable Development Goals, it fosters connections between businesses, charities, and local
    residents to share resources such as materials, software, tools, and expertise.
</p>
<p style="word-break:keep-all;">
    In the past year, Green Skills Library has hosted workshops on vegetable sowing,
    propagation, building planters, composting, and seed saving. Through its "Pallet to Planter" project,
    it empowers individuals to grow their own food while fostering a sense of community and connection to the
    local environment.
</p>

<strong class="mb-2">Donna Stimson</strong>
<p style="word-break:keep-all;">
    Donna has a diverse and accomplished background. She studied Social Anthropology, completed an MBA focused on
    organizational culture, and participated in the Sustainability Leadership Programme at Cambridge University.
    Her career spans multiple fields, including international organizational culture and strategy, property
    retrofitting, and politics, where she served as an elected borough member and cabinet member for Climate and
    Sustainability.<br /><br />

    In addition to her leadership role with Green Skills Library, Donna is a trustee for Heal Rewilding, a member
    of the Local Authority Climate Emergency Advisory Board, an ambassador for One Planet, and a board member for
    Rewilding Africa, the Book of Beasties, and the Royal Borough of Windsor & Maidenhead Climate Partnership.
    She is also a sponsor of Anthropy and an Entrepreneur Advisor for a SEND school.<br /><br />

    Donna’s work reflects her commitment to sustainability, community, and education, with a focus on creating
    positive and lasting impact.<br /><br />
</p>
