---
layout: incubator_participant
name: happy_fam
title: HappyFam
banner: 'image'
logoPath: 'happy_fam/logo.png'
company: HappyFam
founder: Leyla Nasib
focus-area: Inner Development and Resilience for Families with Children
country:
website: https://happyfam.io/
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/happy-fam/'
}
]
---

<strong class="mb-2">HappyFam</strong>
<p style="word-break:keep-all;">
    HappyFam is a groundbreaking app designed to foster inner development and resilience within families with children.
    Rooted in neuroscience, social science, and behavioral science, the app delivers practical tools for emotional
    growth and wellbeing directly to the devices of each family member. By integrating evidence-based practices into
    everyday life, HappyFam empowers families to build stronger emotional connections, develop crucial resilience
    skills, and nurture a generation equipped to thrive in an increasingly complex and challenging world.
</p>
<p style="word-break:keep-all;">
    With HappyFam, families can embrace a journey of inner growth together, laying the foundation for a
    future where emotional intelligence and wellbeing are core strengths. The app’s mission is clear: to equip the
    next generation with the tools they need to navigate life with balance, compassion, and strength, ensuring they
    are prepared to meet the challenges of this century head-on.
</p>

<strong class="mb-2">Leyla Nasib</strong>
<p style="word-break:keep-all;">
    Leyla Nasib, co-founder behind HappyFam, brings a wealth of expertise and passion to the initiative.
    With a distinguished corporate background in Service and Business Design, she has worked across diverse sectors,
    including health and climate change mitigation. Leyla’s professional journey has always been guided by a
    commitment to creating impactful solutions that benefit society.<br /><br />

    In addition to her professional endeavors, Leyla is a dedicated advocate for children's rights.
    She co-founded a volunteer organization focused on integrating children’s rights into the world of design,
    ensuring that young voices are represented and respected in critical decision-making processes. Her work
    reflects a deep belief in the power of kindness, humanity, and community to create lasting change.<br /><br />

    Through HappyFam, Leyla aims to contribute to a global movement of inner development, helping individuals
    reconnect with their innate humanity and compassion. She envisions a future where a critical mass of people
    are empowered to live with intention, kindness, and resilience, fostering a more harmonious
    and connected world.<br /><br />
</p>
