---
layout: incubator_participant
name: ihtimam
title: ihtimam.org
banner: 'image'
logoPath: 'ihtimam/logo.png'
company: ihtimam.org
founder: Gizem Kendik Önduygu (Co-Founder, Co-Nurturer)
focus-area: Care | Earthcare | Social Change | Systems Change | Consultancy
country:
website: www.ihtimam.org
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/in/gizemkendikonduygu/'
}
]
---

<strong class="mb-2">ihtimam.org</strong>
<p style="word-break:keep-all;">
    İhtimam is a design and social innovation consultancy dedicated to fostering
    care-centered approaches for social change organizations. Guided by the ethics of care,
    İhtimam works to bring together individuals, communities, and institutions to envision and create
    innovative alternatives to traditional models of care. Through collaboration and creativity,
    the consultancy seeks to inspire meaningful, sustainable change that prioritizes compassion, equity, and connection.
</p>

<strong class="mb-2">Gizem Kendik Önduygu</strong>
<p style="word-break:keep-all;">
    With over 15 years of experience at the intersection of civil society and social entrepreneurship,
    Gizem Kendik Önduygu, founder of İhtimam is a dedicated social change practitioner. Her work spans
    creating, teaching, speaking, and writing, all with the goal of advancing care-centered approaches
    to social transformation. Driven by a commitment to ethics and collaboration, she empowers
    organizations and individuals to embrace care as a foundational principle for impactful social
    innovation.<br /><br />

    Her expertise and passion reflect a lifelong dedication to fostering systems and
    practices that prioritize humanity, empathy, and shared responsibility, ensuring lasting and
    meaningful change in the communities she serves.
</p>
