---
layout: incubator_participant
name: ilios_partners_llp
title: Ilios Partners LLP
banner: 'image'
logoPath: 'ilios_partners_llp/logo.png'
company: Ilios Partners LLP
founder: Jess van Vliet, Tom Cox
focus-area: Consulting
country:
website: https://www.ilios.partners/
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/iliospartners/'
}
]
---

<strong class="mb-2">Ilios Partners LLP</strong>
<p style="word-break:keep-all;">
    Ilios is a boutique consultancy specializing in transformation, program management,
    people change management, IT strategy, and operations. With a focus on delivering tailored solutions,
    Ilios partners with clients to navigate complex challenges, drive impactful change,
    and achieve sustainable success.
</p>

<strong class="mb-2">Jess van Vliet</strong>
<p style="word-break:keep-all;">
    Jess van Vliet brings 15 years of expertise in leading and advising on change management
    strategy and delivery for tech-enabled transformations. She has worked with global clients,
    including ABB, WPP, Mars, and Deutsche Bank, helping them navigate organizational change
    with precision and insight. Jess is passionate about creating strategies that align people,
    processes, and technology to achieve lasting results.
</p>

<strong class="mb-2">Tom Cox</strong>
<p style="word-break:keep-all;">
    Tom Cox has over a decade of experience in IT delivery and leadership, spanning industries
    from technology to hospitality. His expertise includes managing complex technology implementations
    and fostering innovation within organizations. With a hands-on approach, Tom helps clients
    optimize their IT operations and align technology strategies with business goals.
</p>
