---
layout: incubator_participant
name: rereplenish
title: Rereplenish
banner: 'image'
logoPath: 'rereplenish/logo.png'
company: Rereplenish
founder: Aliyah Green
focus-area: Sustainable hair products | refill service
country:
website:
socialMedia: [
{
    platform: 'instagram',
    url: 'https://www.instagram.com/rereplenish/'
},
]
---

<strong class="mb-2">Rereplenish</strong>
<p style="word-break:keep-all;">
    Our mission is to dramatically reduce plastic waste in the black hair care industry while
    supporting and uplifting black-owned businesses. We offer an innovative refill service that
    allows customers to replenish their hair care products in recyclable containers through a
    convenient subscription service delivered straight to their door.
</p>
<p style="word-break:keep-all;">
    By making sustainability accessible and practical, we aim to create a circular economy within the hair
    care space, eliminating single-use plastic waste and encouraging environmentally responsible practices.
</p>

<strong class="mb-2">Aliyah Green</strong>
<p style="word-break:keep-all;">
    With over 10 years of experience in the charity sector and a current focus as a systems change
    campaigner in alternative economics, Aliyah identified the urgent need for circularity and
    sustainability in the black hair care industry.<br /><br />

    As an anti-oppression and environmental justice advocate, Aliyah is committed to championing black-owned
    businesses and amplifying their presence in the market. Through her work, she strives to create
    lasting change that benefits both the planet and the communities she serves.<br /><br />
</p>
