---
layout: incubator_participant
name: the_wildmesh
title: The WildMesh
banner: 'image'
logoPath: 'the_wildmesh/logo.png'
company: The WildMesh
founder: Jessica Spadacini
focus-area: Mental and Physical Health Community
country:
website:
socialMedia: []
---

<strong class="mb-2">The WildMesh</strong>
<p style="word-break:keep-all;">
    WildMesh is a vibrant and inclusive space, both onsite and online, where a passionate community of
    teachers and participants gather to explore transformative experiences in mental and physical well-being.
    Through holistic lessons, enriching lectures, and meaningful practices, WildMesh fosters a nurturing
    environment that promotes centered, balanced living.
</p>
<p style="word-break:keep-all;">
    By empowering individuals to host and engage in activities that inspire personal growth and positive change,
    WildMesh aims to create a ripple effect of wellness and mindfulness that extends beyond its community,
    shaping a healthier and more connected world.
</p>

<strong class="mb-2">Jessica Spadacini</strong>
<p style="word-break:keep-all;">
    Jessica Spadacini (she/her) is a seasoned Impact Business Developer, Responsible Community Leader,
    and Social Impact Entrepreneur. With a leadership background as a CFO, she has worked across diverse fields,
    including last-mile food distribution, organic waste management, design,
    community engagement, education, and mobility.<br /><br />

    Driven by a deep commitment to climate and social justice, Jessica reimagines and builds
    sustainable, thriving community environments. Her expertise lies in planning and implementing innovative,
    impact-driven solutions that promote financial health, inclusivity, and diversity. She guides teams
    through various stages of community engagement projects, leveraging tools such as alternative
    financial strategies, responsible business modeling, and impact investment opportunities.<br /><br />

    Jessica is also skilled in forging international and local strategic partnerships and
    organizing events and networks that bring people together for meaningful collaboration.
    Her passion lies in creating resilient, equitable systems that empower communities
    and drive sustainable progress.<br /><br />
</p>
