---
layout: incubator_participant
name: untangled
title: Untangled
banner: 'image'
logoPath: 'untangled/logo.png'
company: Untangled
founder: Richard Muscat
focus-area: Impact investing | Finance
country:
website: https://untangled.earth
socialMedia: [
{
    platform: 'linkedin',
    url: 'https://www.linkedin.com/company/untangledearth'
}
]
---

<strong class="mb-2">Untangled</strong>
<p style="word-break:keep-all;">
    Not enough funding is going into to climate projects creating the kind of systematic, environmental, and economical
    change we need to address and mitigate the climate crisis
</p>
<p style="word-break:keep-all;">
    Part of the reason for this is that the impact and climate tech funding ecosystem has hijacked the
    investment spotlight, investing funds primarily into high-risk/high-yield projects and startups and
    disregarding other, more impactful and less risky solutions, because they are not profitable enough.
    This is nonetheless being done in the name of regeneration and system change.
</p>
<p style="word-break:keep-all;">
    We will show, through open data, exactly what that investment ecosystem is really doing and
    which solutions are being ignored. We then aim to redress that imbalance through education and through creating
    a pipeline of projects to balance out where we are falling short.
</p>

<strong class="mb-2">Richard Muscat</strong>
<p style="word-break:keep-all;">
    Richard Muscat is an experienced product, marketing, and commercial leader with a couple decades experience of
    building and managing high-performing products and teams. I’ve mostly worked in the software industry
    including as a senior executive at some world-class organisations like Automattic, Redgate, Close,
    and Business of Software.<br /><br />

    Since 2019 he has been learning about how he can contribute to climate solutions. He has coached dozens of
    climate startups and worked in the impact VC industry at a climate tech venture builder, and currently
    consults for RegenIntel and World Ethic Forum on marketing and growth.
</p>
