---
layout: incubator_participant
name: zerho_waterless_toilet
title: Zerho Waterless Toilet
banner: 'image'
logoPath: 'zerho_waterless_toilet/logo.png'
company: Zerho Waterless Toilet
founder: Janice Whitehead
focus-area: Off-grid Sanitation Sustainability for Households
country:
website: https://www.zerhotoilet.com/
socialMedia: [
{
    platform: 'facebook',
    url: 'https://www.facebook.com/zerh2o.taiwan?mibextid=ZbWKwL'
}
]
---

<strong class="mb-2">Zerho Waterless Toilet</strong>
<p style="word-break:keep-all;">
    Zerho is more than just a toilet—it's a game-changer for sustainable living. Designed to
    address critical sanitation challenges, particularly in rural and disaster-prone areas, the
    Zerho Toilet seamlessly integrates effective waste management with permaculture practices to promote a
    greener, healthier future.
</p>
<p style="word-break:keep-all;">
    The Zerho Toilet offers a fast, efficient solution that requires no sewer infrastructure.
    Lightweight (70kg) and compact (160cm diameter), it is easy to transport, relocate, and set up.
    Its innovative design eliminates the need for water, chemicals, or biomass additives. By separating
    liquids and solids, the Zerho ensures that waste is safely contained and dried using airflow and solar heat.
    Maintenance is minimal, with dried solids and urine available for composting, creating a closed-loop
    system that supports sustainable practices.
</p>
<p style="word-break:keep-all;">
    Ideal for family use (up to eight people), the Zerho Toilet provides safe, hygienic sanitation,
    preventing pollution and promoting health. Its robust design makes it especially valuable in disaster
    relief scenarios, where quick deployment of safe sanitation facilities is essential.
</p>

<strong class="mb-2">Janice Whitehead</strong>
<p style="word-break:keep-all;">
    Zerho was designed in South Africa by Cecil Harris in 2003 to meet the region’s unique sanitation needs.
    Since 2010, the business has been a family-led effort, with hands-on contributions from Janice Whitehead and
    other family members who have played an integral role in its development and growth.<br /><br />

    Janice brings her expertise and passion to the venture, focusing on scaling Zerho’s impact globally.
    She currently resides in Taiwan and is working to establish local manufacturing with plans to export
    Zerho to Southeast Asia and Australia. As a social entrepreneur, she is also exploring ways to make
    Zerho an open-source product to maximize its global impact, empowering communities to implement
    sustainable, robust sanitation solutions.<br /><br />

    Together, Zerho’s mission is to transform lives through innovative sanitation practices, promoting health,
    sustainability, and a cleaner future for all.<br /><br />
</p>
