<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="site-wrapper">
    {% if page.title %}
    {% include page-banner.html %}
    {% endif %}
    {{ content }}
</div>
{% include footer.html %}
</body>
</html>
