<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="site-wrapper">
    {% if page.title %}
    {% include page-banner.html %}
    {% endif %}
    {{ content }}
    <div class="container">
        <p style="text-align: center; max-width: 1100px; margin: 0 auto;">
            The Post Growth Incubator is an 10-week program for social entrepreneurs who want to apply Post Growth Entrepreneurship to their startups.
        </p>
        <div class="tab-bar mt-5 mb20">
            <a href="{{ '/cohort/' | prepend: site.baseurl }}" class="tab-bar__item{% if page.year == 2024 %} active {% endif %}">2024</a>
            <a href="{{ '/cohort/2023.html' | prepend: site.baseurl }}" class="tab-bar__item{% if page.year == 2023 %} active {% endif %}">2023</a>
            <a href="{{ '/cohort/2022.html' | prepend: site.baseurl }}" class="tab-bar__item{% if page.year == 2022 %} active {% endif %}">2022</a>
            <a href="{{ '/cohort/2021.html'  | prepend: site.baseurl }}" class="tab-bar__item{% if page.year == 2021 %} active {% endif %}">2021</a>
        </div>
    </div>

    <div class="container">
        {% capture incubator_year %}
        page.year
        {% endcapture %}
        {% include components/incubator-cards.html year=incubator_year %}
    </div>
    <div class="container-fluid" style="padding-top: 100px"></div>

    {% include components/diagonal-section.html
    position='left-bottom'
    %}
    {% if page.video %}
    <div class="container-fluid pb-5 bg-light-blue">
        <div class="row">
            <div class="col-12">
                <style>
                    .footer-image {
                        margin-top: -100px;
                    }
                    @media screen and (max-width: 768px) {
                        .footer-image {
                            margin-top: 0;
                        }
                    }
                </style>
                <div class="d-flex w100 justify-content-center footer-image">
                    <iframe style="width:100%;max-width:800px;aspect-ratio:16 / 9;border:20px solid white;"
                            src="{{ page.video }}"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% include footer.html %}
</body>
</html>
