<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="site-wrapper mt-5">
    {% if page.title %}
    {% include page-banner--incubator.html %}
    {% endif %}
    {% include components/incubator_content.html %}
</div>

{% assign footer-diagonal-line = true %}
{% if page.shortPresentation.youtubeVideoUrlHash %}
{% assign footer-diagonal-line = false %}

<div>
    {% include components/diagonal-section.html
    position='left-bottom'
    backgroundColor="bg-light-blue"
    %}
    <div class="container-fluid bg-light-blue">
        <div class="row">
            <div class="col-12 d-flex flex-column align-items-center w100">
                <div class="pb-4">
                    <div class="section-title">
                        Short Presentation
                    </div>
                </div>
                <div class="video-container video-container--large">
                    <div class="video">
                        <iframe id="youTubeIframe" class="video" type="text/html" src="{{ page.shortPresentation.youtubeVideoUrlHash | prepend: 'https://www.youtube.com/embed/'}}"
                                allowfullscreen="allowfullscreen" width="100%" height="100%"
                                frameborder="0"></iframe>
                    </div>
                </div>
                {% if page.shortPresentation.feedbackUrl %}
                <div class="py-4">
                    <a href="{{ page.shortPresentation.feedbackUrl }}" target="_blank"
                       class="button">
                        Give feedback
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}

{% include components/diagonal-section.html
position='left-bottom'
backgroundColor="bg-light-blue"
%}

{% endif %}

{% include footer.html
footer-bg=true
%}
</body>
</html>
