<div class="container section-large">
    <div class="row">
        <div class="image-gallery">
            {% for image in site.data.get-involved.images %}
            <div class="image-gallery__item-wrapper">
                <div class="image-gallery__item">
                    <img class="image-gallery__image" alt="Get Involved PGE" src="{{ image.imagePath | prepend: site.baseurl }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
